In [1]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('fluctuation_rate_of_land_price/06-01.csv', encoding='CP949')
df1 = df1.iloc[1:8883:21, 4:]
df1.index = df1['시군구별'][1:8883:21]
df1.drop(df1.columns[-1], axis=1, inplace=True)

In [73]:
df = pd.read_csv('fluctuation_rate_of_land_price/06-07.csv', encoding='CP949')
df2 = df.iloc[1:8883:21, 4:]
df2.index = df['시군구별'][1:8883:21]
df2.drop(df2.columns[-1], axis=1, inplace=True)

In [ ]:
merged_df = pd.merge(df1, df2, on='시군구별')

In [ ]:
# merged_df = pd.merge(merged_df, df1, on='시군구별')

In [40]:
# merged_df = pd.merge(merged_df, df2, on='시군구별')

In [45]:
# merged_df.to_excel('After_preprocessing/fluctuation_rate_of_land_price1.xlsx')

ValueError: This sheet is too large! Your sheet size is: 4903128, 146 Max sheet size is: 1048576, 16384

##### Merge 재차 거듭하면서 사이즈가 100만이 넘어가니 추가되는 데이터가 소실되었다. 
##### 머지하면서 미리 년도별로 값을 추리는 방향으로 작업을 시작.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('fluctuation_rate_of_land_price/06-01.csv', encoding='CP949')
df1 = df1.iloc[1:8883:21, 4:]
df1.index = df['시군구별'][1:8883:21]
df1.drop(df1.columns[-1], axis=1, inplace=True)

In [ ]:
df = pd.read_csv('fluctuation_rate_of_land_price/06-07.csv', encoding='CP949')
df2 = df.iloc[1:8883:21, 4:]
df2.index = df['시군구별'][1:8883:21]
df2.drop(df2.columns[-1], axis=1, inplace=True)

In [ ]:
merged_df = pd.merge(df1, df2, on='시군구별')
# merged_df = pd.merge(merged_df, df1, on='시군구별')
# merged_df = pd.merge(merged_df, df2, on='시군구별')

In [61]:
# merged_df[:11].mean(axis='columns')

C:\Users\PlayData\AppData\Local\Temp\ipykernel_1904\3582713337.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  merged_df[:11].mean(axis='columns')

시군구별
전국      NaN
서울특별시   NaN
종로구     NaN
중구      NaN
중구      NaN
중구      NaN
중구      NaN
중구      NaN
중구      NaN
중구      NaN
중구      NaN
dtype: float64

In [ ]:
merged_df[:11].info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 전국 to 중구
Data columns (total 26 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   2006.01 월  11 non-null     object
 1   2006.02 월  11 non-null     object
 2   2006.03 월  11 non-null     object
 3   2006.04 월  11 non-null     object
 4   2006.05 월  11 non-null     object
 5   2006.06 월  11 non-null     object
 6   2006.07 월  11 non-null     object
 7   2006.08 월  11 non-null     object
 8   2006.09 월  11 non-null     object
 9   2006.10 월  11 non-null     object
 10  2006.11 월  11 non-null     object
 11  2006.12 월  11 non-null     object
 12  2007.01 월  11 non-null     object
 13  2007.02 월  11 non-null     object
 14  2007.03 월  11 non-null     object
 15  2007.04 월  11 non-null     object
 16  2007.05 월  11 non-null     object
 17  2007.06 월  11 non-null     object
 18  2007.07 월  11 non-null     object
 19  2007.08 월  11 non-null     object
 20  2007.09 월  11 non-null     object
 21  2007.10 월  11 non-null     object
 22  2007.11 월  11 non-null     object
 23  2007.12 월  11 non-null     object
 24  2008.01 월  11 non-null     object
 25  2008.02 월  11 non-null     object
dtypes: object(26)
memory usage: 2.3+ KB

##### 각 데이터가 object 타입이라 타입 변환이 필요함

In [62]:
merged_df.astype('float')

ValueError: could not convert string to float: '-'

##### 값 중에 '-' 문자열 때문에 타입 변환이 불가. 0으로 처리. NaN값도 0으로 변환 처리

In [71]:
# merged_df = merged_df.drop(merged_df.index[203:205], axis=0) # 해당 row 삭제 시도, 철회 후 0으로 처리하는 것으로 변경

In [81]:
merged_df.where(~((merged_df.values == '-') | (merged_df.values == np.nan)), 0, inplace=True)

#### 불필요한 데이터가 너무 많아 전처리가 아닌 데이터를 가져오는 과정을 수정해 재차 수행

In [2]:
df1 = pd.read_csv('fluctuation_rate_of_land_price/fluctuation_rate_of_land_price.csv', encoding='CP949')

##### 값 중에 '-' 문자열 때문에 타입 변환이 불가. 0으로 처리. NaN값도 0으로 변환 처리

In [108]:
df1.values

array([['전국', '평균', '지가변동률[%]', ..., -0.005, -0.032, nan],
       ['전국', '주거지역', '지가변동률[%]', ..., -0.083, -0.097, nan],
       ['전국', '상업지역', '지가변동률[%]', ..., 0.041, -0.004, nan],
       ...,
       ['제주특별자치도', '임야', '지가변동률[%]', ..., -0.16, -0.123, nan],
       ['제주특별자치도', '공장용지', '지가변동률[%]', ..., -0.085, -0.062, nan],
       ['제주특별자치도', '기타', '지가변동률[%]', ..., nan, nan, nan]], dtype=object)

In [109]:
df1.where(~((df1 == '-') | (df1 == np.nan)), 0, inplace=True)

TypeError: Cannot do inplace boolean setting on mixed-types with a non np.nan value

In [114]:
df1.where(~(df1.values == np.nan), 0)

,시군구별,용도지역및이용현황별,항목,단위,2006.01 월,2006.02 월,2006.03 월,2006.04 월,2006.05 월,2006.06 월,...,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,Unnamed: 208
0,전국,평균,지가변동률[%],%,.355,.42,.529,.506,.483,.438,...,0.318,0.336,0.323,0.304,0.276,0.197,0.081,-0.005,-0.032,NaN
1,전국,주거지역,지가변동률[%],%,.295,.386,.541,.519,.517,.453,...,0.343,0.355,0.347,0.320,0.282,0.161,-0.004,-0.083,-0.097,NaN
2,전국,상업지역,지가변동률[%],%,.191,.311,.464,.408,.425,.436,...,0.320,0.391,0.355,0.339,0.305,0.283,0.181,0.041,-0.004,NaN
3,전국,공업지역,지가변동률[%],%,.322,.349,.481,.476,.467,.441,...,0.309,0.316,0.299,0.303,0.272,0.229,0.174,0.084,0.048,NaN
4,전국,녹지지역,지가변동률[%],%,.586,.567,.604,.623,.537,.508,...,0.275,0.288,0.278,0.267,0.266,0.230,0.189,0.142,0.097,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,제주특별자치도,주거용(대),지가변동률[%],%,-,-,-,-,-,-,...,0.125,0.092,0.197,0.144,0.104,0.041,-0.009,-0.087,-0.056,NaN
374,제주특별자치도,상업용(대),지가변동률[%],%,-,-,-,-,-,-,...,0.210,0.335,0.224,0.306,0.218,0.132,0.061,-0.098,-0.095,NaN
375,제주특별자치도,임야,지가변동률[%],%,-,-,-,-,-,-,...,0.276,0.275,0.275,0.292,0.240,0.177,0.072,-0.160,-0.123,NaN
376,제주특별자치도,공장용지,지가변동률[%],%,-,-,-,-,-,-,...,0.136,0.213,0.036,0.031,0.035,0.071,0.003,-0.085,-0.062,NaN
377,제주특별자치도,기타,지가변동률[%],%,-,-,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
df1.isnull() # null targeting 성공

,시군구별,용도지역및이용현황별,항목,단위,2006.01 월,2006.02 월,2006.03 월,2006.04 월,2006.05 월,2006.06 월,...,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,Unnamed: 208
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
374,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
375,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
376,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
377,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [118]:
df1 == '-'

,시군구별,용도지역및이용현황별,항목,단위,2006.01 월,2006.02 월,2006.03 월,2006.04 월,2006.05 월,2006.06 월,...,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,Unnamed: 208
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
374,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
375,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
376,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
377,False,False,False,False,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [3]:
df1 = df1.where(~((df1 == '-') | df1.isnull()), 0) # 결측값 처리 성공

##### 마지막 불필요 컬럼 삭제

In [4]:
df1.drop(df1.columns[-1], axis=1, inplace=True)

##### 년도별 데이터화 시도

In [6]:
# 해당 데이터만 따로 데이터프레임으로 생성

df2 = df1[1::21]

In [7]:
df2.iloc[:, 4:16].mean(axis='columns') # 1년의 평균값 생성 시도

C:\Users\PlayData\AppData\Local\Temp\ipykernel_11484\1549729052.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2.iloc[:, 4:16].mean(axis='columns') # 1년의 평균값 생성 시도

1     NaN
22    NaN
43    NaN
64    NaN
85    NaN
106   NaN
127   NaN
148   NaN
169   NaN
190   NaN
211   NaN
232   NaN
253   NaN
274   NaN
295   NaN
316   NaN
337   NaN
358   NaN
dtype: float64

In [8]:
df2.iloc[:, 4:].info() # 타입 변환 필요함이 확인됨

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 358
Columns: 204 entries, 2006.01 월 to 2022.12 월
dtypes: float64(67), object(137)
memory usage: 28.8+ KB

##### 다시 타입 변환

In [9]:
df3 = df2.iloc[:, 4:16] # 1년치 데이터를 데이터프레임으로 생성

In [10]:
df3 = df3.astype('float') # 변환!

##### 이제 년 단위로 데이터화 가능하겠지?

In [11]:
df3.mean(axis='columns') # 성공!

1      0.483583
22     0.725333
43     0.164333
64     0.258417
85     0.334750
106    0.056250
127    0.239333
148    0.228167
169    0.000000
190    0.393083
211    0.142167
232    0.158500
253    0.333500
274    0.082833
295    0.066333
316    0.102167
337    0.133083
358    0.045000
dtype: float64

#### 이제 년단위의 데이터프레임을 만든다

In [12]:
df3 = df3.mean(axis='columns') # 2006년 데이터를 시리즈로 만들고

In [13]:
# len(df3) # 길이 일치 확인 후 df2의 컬럼을 인덱스로 활용

In [14]:
# df = pd.DataFrame(data=df3, index = df2['시군구별'], columns=['2006년']) # 이유는 모르겠지만 이렇게 하면 데이터가 모두 NaN으로 변한다

In [15]:
df = pd.DataFrame(data=df3) #

In [16]:
df.rename(columns={0:'2006년'}, inplace=True)
df.set_index(df2['시군구별'], inplace=True)
df # 데이터프레임 생성 완료

            2006년
시군구별
전국       0.483583
서울특별시    0.725333
부산광역시    0.164333
대구광역시    0.258417
인천광역시    0.334750
광주광역시    0.056250
대전광역시    0.239333
울산광역시    0.228167
세종특별자치시  0.000000
경기도      0.393083
강원도      0.142167
충청북도     0.158500
충청남도     0.333500
전라북도     0.082833
전라남도     0.066333
경상북도     0.102167
경상남도     0.133083
제주특별자치도  0.045000

### 이제 순차적으로 데이터 생성 시작

In [258]:
df2.iloc[:, 160:172].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 1 to 358
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   2019.01 월  18 non-null     float64
 1   2019.02 월  18 non-null     float64
 2   2019.03 월  18 non-null     float64
 3   2019.04 월  18 non-null     float64
 4   2019.05 월  18 non-null     float64
 5   2019.06 월  18 non-null     float64
 6   2019.07 월  18 non-null     float64
 7   2019.08 월  18 non-null     float64
 8   2019.09 월  18 non-null     float64
 9   2019.10 월  18 non-null     float64
 10  2019.11 월  18 non-null     float64
 11  2019.12 월  18 non-null     float64
dtypes: float64(12)
memory usage: 1.8 KB

In [21]:
num1 = 16
year = 2007

while num1 < 208:
    df3 = df2.iloc[:, num1:num1+12]
    df3 = df3.astype('float')
    df3 = df3.mean(axis='columns')
    df[str(year)+'년'] = df3.values
    num1 += 12
    year += 1

#### 만든 데이터프레임의 value가 맞는지 확인

In [24]:
df3 = df2.iloc[:, 196:208]
df3 = df3.astype('float')
df3 = df3.mean(axis='columns') # 일치!

In [30]:
df.to_excel('After_preprocessing/fluctuation_rate_of_land_price.xlsx') # 결과를 저장