In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('Total_bought_house.xlsx', sheet_name=None)
df

{'서울':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     2,844건     1,001건
 1       2022.11     2,552건       761건
 2       2022.10     3,405건       900건
 3       2022.09     3,388건       856건
 4       2022.08     4,015건       907건
 ..          ...        ...        ...
 116     2013.04    10,438건     6,603건
 117     2013.03     8,674건     5,466건
 118     2013.02     5,021건     3,189건
 119     2013.01     2,451건     1,213건
 120     2012.12    12,358건     7,565건

 [121 rows x 3 columns],
 '부산':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,879건     1,231건
 1       2022.11     1,854건     1,177건
 2       2022.10     2,175건     1,409건
 3       2022.09     2,073건     1,139건
 4       2022.08     2,027건     1,271건
 ..          ...        ...        ...
 116     2013.04     7,157건     4,387건
 117     2013.03     5,246건     3,237건
 118     2013.02     3,517건     2,064건
 119     2013.01     2,178건     1,030건
 120     2012.12     8,358건     5,489건

 [121 rows x 3 columns],
 '대구':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,212건       984건
 1       2022.11       978건       777건
 2       2022.10     1,037건       818건
 3       2022.09     1,126건       879건
 4       2022.08     1,242건       951건
 ..          ...        ...        ...
 116     2013.04     5,633건     4,155건
 117     2013.03     4,578건     3,374건
 118     2013.02     3,197건     2,551건
 119     2013.01     1,382건     1,014건
 120     2012.12     7,988건     6,448건

 [121 rows x 3 columns],
 '인천':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     2,031건     1,192건
 1       2022.11     2,038건       976건
 2       2022.10     2,086건       944건
 3       2022.09     2,292건       974건
 4       2022.08     2,445건       901건
 ..          ...        ...        ...
 116     2013.04     4,825건     3,419건
 117     2013.03     3,886건     2,751건
 118     2013.02     2,534건     1,748건
 119     2013.01     1,376건       776건
 120     2012.12     5,047건     3,458건

 [121 rows x 3 columns],
 '대전':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       806건       673건
 1       2022.11       892건       718건
 2       2022.10     1,013건       727건
 3       2022.09       909건       739건
 4       2022.08       991건       705건
 ..          ...        ...        ...
 116     2013.04     2,975건     2,285건
 117     2013.03     2,679건     2,047건
 118     2013.02     2,064건     1,624건
 119     2013.01       987건       660건
 120     2012.12     5,018건     4,106건

 [121 rows x 3 columns],
 '광주':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       806건       673건
 1       2022.11       892건       718건
 2       2022.10     1,013건       727건
 3       2022.09       909건       739건
 4       2022.08       991건       705건
 ..          ...        ...        ...
 116     2013.04     2,975건     2,285건
 117     2013.03     2,679건     2,047건
 118     2013.02     2,064건     1,624건
 119     2013.01       987건       660건
 120     2012.12     5,018건     4,106건

 [121 rows x 3 columns],
 '울산':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       545건       457건
 1       2022.11       709건       575건
 2       2022.10       711건       573건
 3       2022.09       711건       563건
 4       2022.08       731건       582건
 ..          ...        ...        ...
 116     2013.04     2,213건     1,773건
 117     2013.03     2,005건     1,645건
 118     2013.02     1,334건     1,095건
 119     2013.01       805건       546건
 120     2012.12     2,746건     2,137건

 [121 rows x 3 columns],
 '세종':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       296건       277건
 1       2022.11       250건       227건
 2       2022.10       199건       172건
 3       2022.09       171건       157건
 4       2022.08       182건       155건
 ..          ...        ...        ...
 116     2013.04       148건        91건
 117     2013.03       195건       121건
 118     2013.02       130건        89건
 119     2013.01        89건        60건
 120     2012.12       258건       183건

 [121 rows x 3 columns],
 '경기':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       296건       277건
 1       2022.11       250건       227건
 2       2022.10       199건       172건
 3       2022.09       171건       157건
 4       2022.08       182건       155건
 ..          ...        ...        ...
 116     2013.04       148건        91건
 117     2013.03       195건       121건
 118     2013.02       130건        89건
 119     2013.01        89건        60건
 120     2012.12       258건       183건

 [121 rows x 3 columns],
 '강원':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,249건       819건
 1       2022.11     1,650건     1,043건
 2       2022.10     1,499건       884건
 3       2022.09     1,612건       994건
 4       2022.08     1,841건     1,138건
 ..          ...        ...        ...
 116     2013.04     2,440건     1,764건
 117     2013.03     2,192건     1,648건
 118     2013.02     1,698건     1,266건
 119     2013.01     1,174건       843건
 120     2012.12     3,100건     2,448건

 [121 rows x 3 columns],
 '충북':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,565건     1,169건
 1       2022.11     1,717건     1,114건
 2       2022.10     1,846건     1,294건
 3       2022.09     1,603건     1,099건
 4       2022.08     1,825건     1,134건
 ..          ...        ...        ...
 116     2013.04     2,889건     1,984건
 117     2013.03     2,636건     1,891건
 118     2013.02     1,855건     1,401건
 119     2013.01     1,072건       680건
 120     2012.12     4,536건     3,633건

 [121 rows x 3 columns],
 '충남':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,852건     1,383건
 1       2022.11     1,916건     1,255건
 2       2022.10     2,128건     1,461건
 3       2022.09     2,189건     1,426건
 4       2022.08     2,396건     1,511건
 ..          ...        ...        ...
 116     2013.04     3,741건     2,831건
 117     2013.03     3,317건     2,456건
 118     2013.02     2,915건     2,284건
 119     2013.01     1,980건     1,563건
 120     2012.12     5,020건     3,954건

 [121 rows x 3 columns],
 '전북':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,852건     1,383건
 1       2022.11     1,916건     1,255건
 2       2022.10     2,128건     1,461건
 3       2022.09     2,189건     1,426건
 4       2022.08     2,396건     1,511건
 ..          ...        ...        ...
 116     2013.04     3,741건     2,831건
 117     2013.03     3,317건     2,456건
 118     2013.02     2,915건     2,284건
 119     2013.01     1,980건     1,563건
 120     2012.12     5,020건     3,954건

 [121 rows x 3 columns],
 '전남':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     1,226건       742건
 1       2022.11     1,460건       818건
 2       2022.10     1,533건       938건
 3       2022.09     1,578건       911건
 4       2022.08     1,594건       938건
 ..          ...        ...        ...
 116     2013.04     2,269건     1,385건
 117     2013.03     2,354건     1,614건
 118     2013.02     1,960건     1,428건
 119     2013.01     1,229건       697건
 120     2012.12     2,936건     2,105건

 [121 rows x 3 columns],
 '경북':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     2,100건     1,386건
 1       2022.11     2,174건     1,349건
 2       2022.10     2,440건     1,517건
 3       2022.09     2,271건     1,405건
 4       2022.08     2,644건     1,587건
 ..          ...        ...        ...
 116     2013.04     5,043건     3,198건
 117     2013.03     4,502건     2,917건
 118     2013.02     3,529건     2,422건
 119     2013.01     2,175건     1,389건
 120     2012.12     6,348건     4,597건

 [121 rows x 3 columns],
 '경남':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12     2,237건     1,680건
 1       2022.11     2,500건     1,885건
 2       2022.10     2,627건     1,894건
 3       2022.09     2,534건     1,789건
 4       2022.08     2,743건     1,961건
 ..          ...        ...        ...
 116     2013.04     5,633건     4,099건
 117     2013.03     4,612건     3,456건
 118     2013.02     3,453건     2,634건
 119     2013.01     2,659건     2,015건
 120     2012.12    11,254건     9,536건

 [121 rows x 3 columns],
 '제주':      Unnamed: 0 Unnamed: 1 Unnamed: 2
 0       2022.12       491건       165건
 1       2022.11       481건       166건
 2       2022.10       480건       157건
 3       2022.09       636건       250건
 4       2022.08       773건       363건
 ..          ...        ...        ...
 116     2013.04       750건       340건
 117     2013.03       771건       350건
 118     2013.02       924건       402건
 119     2013.01       832건       360건
 120     2012.12     1,655건       812건

 [121 rows x 3 columns]}

### 각 시트를 하나의 데이터프레임으로 변환

In [8]:
df1 = pd.concat(df, ignore_index=False)

In [9]:
df1.columns = ['해당 날짜', '주택매매전체', '아파트매매']

#### 데이터가 월 단위로 저장되어 있어서 년 단위로 변환한다

In [15]:
df1.iloc[:, :]

          해당 날짜  주택매매전체   아파트매매
서울 0    2022.12  2,844건  1,001건
   1    2022.11  2,552건    761건
   2    2022.10  3,405건    900건
   3    2022.09  3,388건    856건
   4    2022.08  4,015건    907건
...         ...     ...     ...
제주 116  2013.04    750건    340건
   117  2013.03    771건    350건
   118  2013.02    924건    402건
   119  2013.01    832건    360건
   120  2012.12  1,655건    812건

[2057 rows x 3 columns]

#### 데이터에 문자열이 붙어있어 연산을 할 수 없다. 변환을 시도한다.

In [27]:
type(df1.iloc[:, 1:2].values[1]) # 타입 확인

numpy.ndarray

In [42]:
for i in df1.iloc[:, 1:2].values: # 타입 확인 2
    print(i)
    print(type(i))

['2,844건']
<class 'numpy.ndarray'>
['2,552건']
<class 'numpy.ndarray'>
['3,405건']
<class 'numpy.ndarray'>
['3,388건']
<class 'numpy.ndarray'>
['4,015건']
<class 'numpy.ndarray'>
['4,858건']
<class 'numpy.ndarray'>
['6,617건']
<class 'numpy.ndarray'>
['7,664건']
<class 'numpy.ndarray'>
['6,120건']
<class 'numpy.ndarray'>
['5,098건']
<class 'numpy.ndarray'>
['4,615건']
<class 'numpy.ndarray'>
['4,831건']
<class 'numpy.ndarray'>
['6,394건']
<class 'numpy.ndarray'>
['7,801건']
<class 'numpy.ndarray'>
['8,147건']
<class 'numpy.ndarray'>
['9,584건']
<class 'numpy.ndarray'>
['11,051건']
<class 'numpy.ndarray'>
['11,014건']
<class 'numpy.ndarray'>
['11,721건']
<class 'numpy.ndarray'>
['13,145건']
<class 'numpy.ndarray'>
['11,873건']
<class 'numpy.ndarray'>
['11,122건']
<class 'numpy.ndarray'>
['12,707건']
<class 'numpy.ndarray'>
['12,275건']
<class 'numpy.ndarray'>
['16,190건']
<class 'numpy.ndarray'>
['10,082건']
<class 'numpy.ndarray'>
['10,629건']
<class 'numpy.ndarray'>
['10,755건']
<class 'numpy.ndarray'>
['14,459건']
<class 'numpy.ndarray'>
['26,662건']
<class 'numpy.ndarray'>
['19,463건']
<class 'numpy.ndarray'>
['10,255건']
<class 'numpy.ndarray'>
['9,452건']
<class 'numpy.ndarray'>
['16,315건']
<class 'numpy.ndarray'>
['16,661건']
<class 'numpy.ndarray'>
['16,834건']
<class 'numpy.ndarray'>
['22,156건']
<class 'numpy.ndarray'>
['17,313건']
<class 'numpy.ndarray'>
['14,145건']
<class 'numpy.ndarray'>
['11,779건']
<class 'numpy.ndarray'>
['13,514건']
<class 'numpy.ndarray'>
['12,256건']
<class 'numpy.ndarray'>
['8,990건']
<class 'numpy.ndarray'>
['8,077건']
<class 'numpy.ndarray'>
['6,924건']
<class 'numpy.ndarray'>
['5,633건']
<class 'numpy.ndarray'>
['4,552건']
<class 'numpy.ndarray'>
['6,040건']
<class 'numpy.ndarray'>
['7,000건']
<class 'numpy.ndarray'>
['9,324건']
<class 'numpy.ndarray'>
['18,787건']
<class 'numpy.ndarray'>
['19,228건']
<class 'numpy.ndarray'>
['13,577건']
<class 'numpy.ndarray'>
['11,753건']
<class 'numpy.ndarray'>
['10,401건']
<class 'numpy.ndarray'>
['11,719건']
<class 'numpy.ndarray'>
['12,347건']
<class 'numpy.ndarray'>
['24,122건']
<class 'numpy.ndarray'>
['17,685건']
<class 'numpy.ndarray'>
['15,107건']
<class 'numpy.ndarray'>
['13,740건']
<class 'numpy.ndarray'>
['12,041건']
<class 'numpy.ndarray'>
['8,561건']
<class 'numpy.ndarray'>
['15,572건']
<class 'numpy.ndarray'>
['24,259건']
<class 'numpy.ndarray'>
['23,972건']
<class 'numpy.ndarray'>
['23,879건']
<class 'numpy.ndarray'>
['18,665건']
<class 'numpy.ndarray'>
['14,844건']
<class 'numpy.ndarray'>
['13,289건']
<class 'numpy.ndarray'>
['9,756건']
<class 'numpy.ndarray'>
['9,219건']
<class 'numpy.ndarray'>
['16,717건']
<class 'numpy.ndarray'>
['19,962건']
<class 'numpy.ndarray'>
['22,433건']
<class 'numpy.ndarray'>
['19,191건']
<class 'numpy.ndarray'>
['21,649건']
<class 'numpy.ndarray'>
['22,852건']
<class 'numpy.ndarray'>
['20,833건']
<class 'numpy.ndarray'>
['19,217건']
<class 'numpy.ndarray'>
['16,123건']
<class 'numpy.ndarray'>
['13,751건']
<class 'numpy.ndarray'>
['9,910건']
<class 'numpy.ndarray'>
['10,340건']
<class 'numpy.ndarray'>
['15,659건']
<class 'numpy.ndarray'>
['18,040건']
<class 'numpy.ndarray'>
['20,344건']
<class 'numpy.ndarray'>
['16,743건']
<class 'numpy.ndarray'>
['18,733건']
<class 'numpy.ndarray'>
['21,382건']
<class 'numpy.ndarray'>
['20,691건']
<class 'numpy.ndarray'>
['21,706건']
<class 'numpy.ndarray'>
['23,252건']
<class 'numpy.ndarray'>
['21,138건']
<class 'numpy.ndarray'>
['12,990건']
<class 'numpy.ndarray'>
['11,005건']
<class 'numpy.ndarray'>
['11,904건']
<class 'numpy.ndarray'>
['13,972건']
<class 'numpy.ndarray'>
['17,126건']
<class 'numpy.ndarray'>
['14,107건']
<class 'numpy.ndarray'>
['10,954건']
<class 'numpy.ndarray'>
['10,621건']
<class 'numpy.ndarray'>
['10,042건']
<class 'numpy.ndarray'>
['10,994건']
<class 'numpy.ndarray'>
['13,839건']
<class 'numpy.ndarray'>
['14,615건']
<class 'numpy.ndarray'>
['11,771건']
<class 'numpy.ndarray'>
['8,321건']
<class 'numpy.ndarray'>
['12,464건']
<class 'numpy.ndarray'>
['12,044건']
<class 'numpy.ndarray'>
['13,131건']
<class 'numpy.ndarray'>
['8,110건']
<class 'numpy.ndarray'>
['5,808건']
<class 'numpy.ndarray'>
['4,490건']
<class 'numpy.ndarray'>
['17,074건']
<class 'numpy.ndarray'>
['12,184건']
<class 'numpy.ndarray'>
['10,438건']
<class 'numpy.ndarray'>
['8,674건']
<class 'numpy.ndarray'>
['5,021건']
<class 'numpy.ndarray'>
['2,451건']
<class 'numpy.ndarray'>
['12,358건']
<class 'numpy.ndarray'>
['1,879건']
<class 'numpy.ndarray'>
['1,854건']
<class 'numpy.ndarray'>
['2,175건']
<class 'numpy.ndarray'>
['2,073건']
<class 'numpy.ndarray'>
['2,027건']
<class 'numpy.ndarray'>
['2,423건']
<class 'numpy.ndarray'>
['2,942건']
<class 'numpy.ndarray'>
['4,160건']
<class 'numpy.ndarray'>
['3,632건']
<class 'numpy.ndarray'>
['3,192건']
<class 'numpy.ndarray'>
['2,299건']
<class 'numpy.ndarray'>
['2,558건']
<class 'numpy.ndarray'>
['3,798건']
<class 'numpy.ndarray'>
['4,180건']
<class 'numpy.ndarray'>
['5,623건']
<class 'numpy.ndarray'>
['5,351건']
<class 'numpy.ndarray'>
['6,142건']
<class 'numpy.ndarray'>
['6,815건']
<class 'numpy.ndarray'>
['7,083건']
<class 'numpy.ndarray'>
['7,803건']
<class 'numpy.ndarray'>
['6,465건']
<class 'numpy.ndarray'>
['6,442건']
<class 'numpy.ndarray'>
['4,947건']
<class 'numpy.ndarray'>
['4,997건']
<class 'numpy.ndarray'>
['12,624건']
<class 'numpy.ndarray'>
['19,588건']
<class 'numpy.ndarray'>
['10,024건']
<class 'numpy.ndarray'>
['7,302건']
<class 'numpy.ndarray'>
['6,281건']
<class 'numpy.ndarray'>
['12,615건']
<class 'numpy.ndarray'>
['9,576건']
<class 'numpy.ndarray'>
['5,663건']
<class 'numpy.ndarray'>
['5,177건']
<class 'numpy.ndarray'>
['6,198건']
<class 'numpy.ndarray'>
['6,560건']
<class 'numpy.ndarray'>
['7,531건']
<class 'numpy.ndarray'>
['10,216건']
<class 'numpy.ndarray'>
['7,404건']
<class 'numpy.ndarray'>
['4,900건']
<class 'numpy.ndarray'>
['3,887건']
<class 'numpy.ndarray'>
['3,781건']
<class 'numpy.ndarray'>
['3,731건']
<class 'numpy.ndarray'>
['3,364건']
<class 'numpy.ndarray'>
['3,524건']
<class 'numpy.ndarray'>
['3,286건']
<class 'numpy.ndarray'>
['3,401건']
<class 'numpy.ndarray'>
['2,794건']
<class 'numpy.ndarray'>
['3,602건']
<class 'numpy.ndarray'>
['3,766건']
<class 'numpy.ndarray'>
['3,514건']
<class 'numpy.ndarray'>
['4,431건']
<class 'numpy.ndarray'>
['3,050건']
<class 'numpy.ndarray'>
['3,049건']
<class 'numpy.ndarray'>
['3,678건']
<class 'numpy.ndarray'>
['4,357건']
<class 'numpy.ndarray'>
['4,209건']
<class 'numpy.ndarray'>
['4,456건']
<class 'numpy.ndarray'>
['6,096건']
<class 'numpy.ndarray'>
['3,718건']
<class 'numpy.ndarray'>
['4,707건']
<class 'numpy.ndarray'>
['4,740건']
<class 'numpy.ndarray'>
['5,405건']
<class 'numpy.ndarray'>
['4,952건']
<class 'numpy.ndarray'>
['5,326건']
<class 'numpy.ndarray'>
['6,133건']
<class 'numpy.ndarray'>
['7,289건']
<class 'numpy.ndarray'>
['7,138건']
<class 'numpy.ndarray'>
['7,200건']
<class 'numpy.ndarray'>
['6,520건']
<class 'numpy.ndarray'>
['6,808건']
<class 'numpy.ndarray'>
['6,063건']
<class 'numpy.ndarray'>
['5,730건']
<class 'numpy.ndarray'>
['8,054건']
<class 'numpy.ndarray'>
['9,947건']
<class 'numpy.ndarray'>
['10,208건']
<class 'numpy.ndarray'>
['8,659건']
<class 'numpy.ndarray'>
['9,073건']
<class 'numpy.ndarray'>
['8,278건']
<class 'numpy.ndarray'>
['8,348건']
<class 'numpy.ndarray'>
['7,811건']
<class 'numpy.ndarray'>
['7,700건']
<class 'numpy.ndarray'>
['6,722건']
<class 'numpy.ndarray'>
['5,161건']
<class 'numpy.ndarray'>
['5,801건']
<class 'numpy.ndarray'>
['9,073건']
<class 'numpy.ndarray'>
['9,925건']
<class 'numpy.ndarray'>
['9,863건']
<class 'numpy.ndarray'>
['7,258건']
<class 'numpy.ndarray'>
['8,304건']
<class 'numpy.ndarray'>
['10,396건']
<class 'numpy.ndarray'>
['10,312건']
<class 'numpy.ndarray'>
['10,042건']
<class 'numpy.ndarray'>
['10,711건']
<class 'numpy.ndarray'>
['9,167건']
<class 'numpy.ndarray'>
['7,144건']
<class 'numpy.ndarray'>
['7,429건']
<class 'numpy.ndarray'>
['8,411건']
<class 'numpy.ndarray'>
['8,239건']
<class 'numpy.ndarray'>
['9,087건']
<class 'numpy.ndarray'>
['7,173건']
<class 'numpy.ndarray'>
['6,281건']
<class 'numpy.ndarray'>
['6,889건']
<class 'numpy.ndarray'>
['7,057건']
<class 'numpy.ndarray'>
['7,584건']
<class 'numpy.ndarray'>
['8,758건']
<class 'numpy.ndarray'>
['7,301건']
<class 'numpy.ndarray'>
['6,314건']
<class 'numpy.ndarray'>
['4,931건']
<class 'numpy.ndarray'>
['8,406건']
<class 'numpy.ndarray'>
['7,185건']
<class 'numpy.ndarray'>
['7,011건']
<class 'numpy.ndarray'>
['4,272건']
<class 'numpy.ndarray'>
['4,053건']
<class 'numpy.ndarray'>
['3,548건']
<class 'numpy.ndarray'>
['11,132건']
<class 'numpy.ndarray'>
['7,585건']
<class 'numpy.ndarray'>
['7,157건']
<class 'numpy.ndarray'>
['5,246건']
<class 'numpy.ndarray'>
['3,517건']
<class 'numpy.ndarray'>
['2,178건']
<class 'numpy.ndarray'>
['8,358건']
<class 'numpy.ndarray'>
['1,212건']
<class 'numpy.ndarray'>
['978건']
<class 'numpy.ndarray'>
['1,037건']
<class 'numpy.ndarray'>
['1,126건']
<class 'numpy.ndarray'>
['1,242건']
<class 'numpy.ndarray'>
['1,224건']
<class 'numpy.ndarray'>
['1,186건']
<class 'numpy.ndarray'>
['1,628건']
<class 'numpy.ndarray'>
['1,380건']
<class 'numpy.ndarray'>
['1,457건']
<class 'numpy.ndarray'>
['1,324건']
<class 'numpy.ndarray'>
['1,237건']
<class 'numpy.ndarray'>
['1,677건']
<class 'numpy.ndarray'>
['2,275건']
<class 'numpy.ndarray'>
['2,019건']
<class 'numpy.ndarray'>
['2,123건']
<class 'numpy.ndarray'>
['2,211건']
<class 'numpy.ndarray'>
['2,605건']
<class 'numpy.ndarray'>
['2,885건']
<class 'numpy.ndarray'>
['3,397건']
<class 'numpy.ndarray'>
['3,029건']
<class 'numpy.ndarray'>
['3,107건']
<class 'numpy.ndarray'>
['2,831건']
<class 'numpy.ndarray'>
['2,954건']
<class 'numpy.ndarray'>
['8,004건']
<class 'numpy.ndarray'>
['7,601건']
<class 'numpy.ndarray'>
['5,597건']
<class 'numpy.ndarray'>
['5,211건']
<class 'numpy.ndarray'>
['4,939건']
<class 'numpy.ndarray'>
['7,721건']
<class 'numpy.ndarray'>
['5,646건']
<class 'numpy.ndarray'>
['3,966건']
<class 'numpy.ndarray'>
['2,826건']
<class 'numpy.ndarray'>
['4,380건']
<class 'numpy.ndarray'>
['5,346건']
<class 'numpy.ndarray'>
['4,859건']
<class 'numpy.ndarray'>
['5,376건']
<class 'numpy.ndarray'>
['4,626건']
<class 'numpy.ndarray'>
['4,105건']
<class 'numpy.ndarray'>
['3,311건']
<class 'numpy.ndarray'>
['3,408건']
<class 'numpy.ndarray'>
['4,100건']
<class 'numpy.ndarray'>
['3,147건']
<class 'numpy.ndarray'>
['3,529건']
<class 'numpy.ndarray'>
['3,322건']
<class 'numpy.ndarray'>
['2,735건']
<class 'numpy.ndarray'>
['2,395건']
<class 'numpy.ndarray'>
['2,902건']
<class 'numpy.ndarray'>
['3,592건']
<class 'numpy.ndarray'>
['4,027건']
<class 'numpy.ndarray'>
['4,821건']
<class 'numpy.ndarray'>
['3,744건']
<class 'numpy.ndarray'>
['3,421건']
<class 'numpy.ndarray'>
['3,641건']
<class 'numpy.ndarray'>
['4,837건']
<class 'numpy.ndarray'>
['4,167건']
<class 'numpy.ndarray'>
['4,275건']
<class 'numpy.ndarray'>
['4,504건']
<class 'numpy.ndarray'>
['3,444건']
<class 'numpy.ndarray'>
['3,458건']
<class 'numpy.ndarray'>
['3,586건']
<class 'numpy.ndarray'>
['3,893건']
<class 'numpy.ndarray'>
['3,731건']
<class 'numpy.ndarray'>
['5,675건']
<class 'numpy.ndarray'>
['5,501건']
<class 'numpy.ndarray'>
['4,465건']
<class 'numpy.ndarray'>
['3,913건']
<class 'numpy.ndarray'>
['3,081건']
<class 'numpy.ndarray'>
['2,893건']
<class 'numpy.ndarray'>
['2,969건']
<class 'numpy.ndarray'>
['2,460건']
<class 'numpy.ndarray'>
['2,436건']
<class 'numpy.ndarray'>
['3,244건']
<class 'numpy.ndarray'>
['3,631건']
<class 'numpy.ndarray'>
['3,298건']
<class 'numpy.ndarray'>
['2,447건']
<class 'numpy.ndarray'>
['2,690건']
<class 'numpy.ndarray'>
['2,648건']
<class 'numpy.ndarray'>
['2,557건']
<class 'numpy.ndarray'>
['2,512건']
<class 'numpy.ndarray'>
['3,703건']
<class 'numpy.ndarray'>
['1,992건']
<class 'numpy.ndarray'>
['1,626건']
<class 'numpy.ndarray'>
['2,035건']
<class 'numpy.ndarray'>
['3,088건']
<class 'numpy.ndarray'>
['3,750건']
<class 'numpy.ndarray'>
['4,226건']
<class 'numpy.ndarray'>
['3,600건']
<class 'numpy.ndarray'>
['4,613건']
<class 'numpy.ndarray'>
['5,474건']
<class 'numpy.ndarray'>
['5,748건']
<class 'numpy.ndarray'>
['5,769건']
<class 'numpy.ndarray'>
['6,121건']
<class 'numpy.ndarray'>
['5,421건']
<class 'numpy.ndarray'>
['4,093건']
<class 'numpy.ndarray'>
['4,242건']
<class 'numpy.ndarray'>
['4,890건']
<class 'numpy.ndarray'>
['5,489건']
<class 'numpy.ndarray'>
['5,849건']
<class 'numpy.ndarray'>
['4,337건']
<class 'numpy.ndarray'>
['3,876건']
<class 'numpy.ndarray'>
['4,092건']
<class 'numpy.ndarray'>
['3,983건']
<class 'numpy.ndarray'>
['4,330건']
<class 'numpy.ndarray'>
['4,902건']
<class 'numpy.ndarray'>
['4,743건']
<class 'numpy.ndarray'>
['4,548건']
<class 'numpy.ndarray'>
['3,483건']
<class 'numpy.ndarray'>
['5,783건']
<class 'numpy.ndarray'>
['5,110건']
<class 'numpy.ndarray'>
['5,155건']
<class 'numpy.ndarray'>
['3,371건']
<class 'numpy.ndarray'>
['2,674건']
<class 'numpy.ndarray'>
['2,126건']
<class 'numpy.ndarray'>
['9,730건']
<class 'numpy.ndarray'>
['6,619건']
<class 'numpy.ndarray'>
['5,633건']
<class 'numpy.ndarray'>
['4,578건']
<class 'numpy.ndarray'>
['3,197건']
<class 'numpy.ndarray'>
['1,382건']
<class 'numpy.ndarray'>
['7,988건']
<class 'numpy.ndarray'>
['2,031건']
<class 'numpy.ndarray'>
['2,038건']
<class 'numpy.ndarray'>
['2,086건']
<class 'numpy.ndarray'>
['2,292건']
<class 'numpy.ndarray'>
['2,445건']
<class 'numpy.ndarray'>
['2,818건']
<class 'numpy.ndarray'>
['3,761건']
<class 'numpy.ndarray'>
['4,760건']
<class 'numpy.ndarray'>
['3,965건']
<class 'numpy.ndarray'>
['3,546건']
<class 'numpy.ndarray'>
['2,726건']
<class 'numpy.ndarray'>
['2,878건']
<class 'numpy.ndarray'>
['4,014건']
<class 'numpy.ndarray'>
['4,689건']
<class 'numpy.ndarray'>
['6,678건']
<class 'numpy.ndarray'>
['6,890건']
<class 'numpy.ndarray'>
['7,066건']
<class 'numpy.ndarray'>
['7,101건']
<class 'numpy.ndarray'>
['7,704건']
<class 'numpy.ndarray'>
['9,092건']
<class 'numpy.ndarray'>
['9,080건']
<class 'numpy.ndarray'>
['10,266건']
<class 'numpy.ndarray'>
['8,135건']
<class 'numpy.ndarray'>
['7,344건']
<class 'numpy.ndarray'>
['8,459건']
<class 'numpy.ndarray'>
['5,098건']
<class 'numpy.ndarray'>
['5,598건']
<class 'numpy.ndarray'>
['4,498건']
<class 'numpy.ndarray'>
['4,941건']
<class 'numpy.ndarray'>
['8,018건']
<class 'numpy.ndarray'>
['12,115건']
<class 'numpy.ndarray'>
['7,491건']
<class 'numpy.ndarray'>
['7,557건']
<class 'numpy.ndarray'>
['12,293건']
<class 'numpy.ndarray'>
['10,110건']
<class 'numpy.ndarray'>
['7,580건']
<class 'numpy.ndarray'>
['7,660건']
<class 'numpy.ndarray'>
['6,272건']
<class 'numpy.ndarray'>
['6,135건']
<class 'numpy.ndarray'>
['4,900건']
<class 'numpy.ndarray'>
['5,207건']
<class 'numpy.ndarray'>
['5,177건']
<class 'numpy.ndarray'>
['4,428건']
<class 'numpy.ndarray'>
['4,807건']
<class 'numpy.ndarray'>
['4,737건']
<class 'numpy.ndarray'>
['4,404건']
<class 'numpy.ndarray'>
['3,703건']
<class 'numpy.ndarray'>
['4,242건']
<class 'numpy.ndarray'>
['4,427건']
<class 'numpy.ndarray'>
['5,249건']
<class 'numpy.ndarray'>
['6,619건']
<class 'numpy.ndarray'>
['4,798건']
<class 'numpy.ndarray'>
['4,273건']
<class 'numpy.ndarray'>
['4,576건']
<class 'numpy.ndarray'>
['4,681건']
<class 'numpy.ndarray'>
['5,102건']
<class 'numpy.ndarray'>
['5,393건']
<class 'numpy.ndarray'>
['5,328건']
<class 'numpy.ndarray'>
['4,094건']
<class 'numpy.ndarray'>
['4,593건']
<class 'numpy.ndarray'>
['5,129건']
<class 'numpy.ndarray'>
['5,788건']
<class 'numpy.ndarray'>
['5,381건']
<class 'numpy.ndarray'>
['6,497건']
<class 'numpy.ndarray'>
['6,577건']
<class 'numpy.ndarray'>
['6,836건']
<class 'numpy.ndarray'>
['6,978건']
<class 'numpy.ndarray'>
['6,406건']
<class 'numpy.ndarray'>
['5,536건']
<class 'numpy.ndarray'>
['5,272건']
<class 'numpy.ndarray'>
['4,122건']
<class 'numpy.ndarray'>
['3,609건']
<class 'numpy.ndarray'>
['5,517건']
<class 'numpy.ndarray'>
['7,642건']
<class 'numpy.ndarray'>
['8,342건']
<class 'numpy.ndarray'>
['7,224건']
<class 'numpy.ndarray'>
['7,758건']
<class 'numpy.ndarray'>
['7,527건']
<class 'numpy.ndarray'>
['7,117건']
<class 'numpy.ndarray'>
['6,914건']
<class 'numpy.ndarray'>
['6,354건']
<class 'numpy.ndarray'>
['5,446건']
<class 'numpy.ndarray'>
['3,958건']
<class 'numpy.ndarray'>
['4,388건']
<class 'numpy.ndarray'>
['6,081건']
<class 'numpy.ndarray'>
['7,044건']
<class 'numpy.ndarray'>
['7,983건']
<class 'numpy.ndarray'>
['6,348건']
<class 'numpy.ndarray'>
['6,466건']
<class 'numpy.ndarray'>
['7,295건']
<class 'numpy.ndarray'>
['7,596건']
<class 'numpy.ndarray'>
['7,885건']
<class 'numpy.ndarray'>
['8,308건']
<class 'numpy.ndarray'>
['7,694건']
<class 'numpy.ndarray'>
['4,784건']
<class 'numpy.ndarray'>
['4,289건']
<class 'numpy.ndarray'>
['5,005건']
<class 'numpy.ndarray'>
['6,651건']
<class 'numpy.ndarray'>
['7,969건']
<class 'numpy.ndarray'>
['6,151건']
<class 'numpy.ndarray'>
['5,327건']
<class 'numpy.ndarray'>
['4,906건']
<class 'numpy.ndarray'>
['4,640건']
<class 'numpy.ndarray'>
['5,162건']
<class 'numpy.ndarray'>
['6,288건']
<class 'numpy.ndarray'>
['5,861건']
<class 'numpy.ndarray'>
['4,403건']
<class 'numpy.ndarray'>
['3,048건']
<class 'numpy.ndarray'>
['4,918건']
<class 'numpy.ndarray'>
['5,539건']
<class 'numpy.ndarray'>
['6,090건']
<class 'numpy.ndarray'>
['3,715건']
<class 'numpy.ndarray'>
['3,068건']
<class 'numpy.ndarray'>
['2,313건']
<class 'numpy.ndarray'>
['7,652건']
<class 'numpy.ndarray'>
['5,708건']
<class 'numpy.ndarray'>
['4,825건']
<class 'numpy.ndarray'>
['3,886건']
<class 'numpy.ndarray'>
['2,534건']
<class 'numpy.ndarray'>
['1,376건']
<class 'numpy.ndarray'>
['5,047건']
<class 'numpy.ndarray'>
['806건']
<class 'numpy.ndarray'>
['892건']
<class 'numpy.ndarray'>
['1,013건']
<class 'numpy.ndarray'>
['909건']
<class 'numpy.ndarray'>
['991건']
<class 'numpy.ndarray'>
['1,279건']
<class 'numpy.ndarray'>
['1,707건']
<class 'numpy.ndarray'>
['2,460건']
<class 'numpy.ndarray'>
['2,168건']
<class 'numpy.ndarray'>
['1,924건']
<class 'numpy.ndarray'>
['1,653건']
<class 'numpy.ndarray'>
['1,851건']
<class 'numpy.ndarray'>
['2,023건']
<class 'numpy.ndarray'>
['2,285건']
<class 'numpy.ndarray'>
['2,688건']
<class 'numpy.ndarray'>
['2,859건']
<class 'numpy.ndarray'>
['3,006건']
<class 'numpy.ndarray'>
['3,119건']
<class 'numpy.ndarray'>
['2,717건']
<class 'numpy.ndarray'>
['3,248건']
<class 'numpy.ndarray'>
['2,738건']
<class 'numpy.ndarray'>
['3,144건']
<class 'numpy.ndarray'>
['2,115건']
<class 'numpy.ndarray'>
['2,646건']
<class 'numpy.ndarray'>
['5,217건']
<class 'numpy.ndarray'>
['5,542건']
<class 'numpy.ndarray'>
['3,255건']
<class 'numpy.ndarray'>
['2,698건']
<class 'numpy.ndarray'>
['2,402건']
<class 'numpy.ndarray'>
['3,443건']
<class 'numpy.ndarray'>
['3,162건']
<class 'numpy.ndarray'>
['2,155건']
<class 'numpy.ndarray'>
['2,151건']
<class 'numpy.ndarray'>
['2,937건']
<class 'numpy.ndarray'>
['3,016건']
<class 'numpy.ndarray'>
['2,951건']
<class 'numpy.ndarray'>
['3,031건']
<class 'numpy.ndarray'>
['2,456건']
<class 'numpy.ndarray'>
['2,817건']
<class 'numpy.ndarray'>
['2,147건']
<class 'numpy.ndarray'>
['2,225건']
<class 'numpy.ndarray'>
['2,219건']
<class 'numpy.ndarray'>
['2,189건']
<class 'numpy.ndarray'>
['1,939건']
<class 'numpy.ndarray'>
['2,035건']
<class 'numpy.ndarray'>
['2,049건']
<class 'numpy.ndarray'>
['2,066건']
<class 'numpy.ndarray'>
['2,276건']
<class 'numpy.ndarray'>
['2,462건']
<class 'numpy.ndarray'>
['2,873건']
<class 'numpy.ndarray'>
['4,119건']
<class 'numpy.ndarray'>
['3,284건']
<class 'numpy.ndarray'>
['2,941건']
<class 'numpy.ndarray'>
['2,950건']
<class 'numpy.ndarray'>
['2,819건']
<class 'numpy.ndarray'>
['2,887건']
<class 'numpy.ndarray'>
['3,072건']
<class 'numpy.ndarray'>
['3,294건']
<class 'numpy.ndarray'>
['2,436건']
<class 'numpy.ndarray'>
['2,861건']
<class 'numpy.ndarray'>
['2,841건']
<class 'numpy.ndarray'>
['2,857건']
<class 'numpy.ndarray'>
['2,556건']
<class 'numpy.ndarray'>
['2,830건']
<class 'numpy.ndarray'>
['2,712건']
<class 'numpy.ndarray'>
['2,688건']
<class 'numpy.ndarray'>
['2,843건']
<class 'numpy.ndarray'>
['2,707건']
<class 'numpy.ndarray'>
['2,461건']
<class 'numpy.ndarray'>
['2,792건']
<class 'numpy.ndarray'>
['2,570건']
<class 'numpy.ndarray'>
['2,554건']
<class 'numpy.ndarray'>
['3,215건']
<class 'numpy.ndarray'>
['3,087건']
<class 'numpy.ndarray'>
['3,206건']
<class 'numpy.ndarray'>
['2,749건']
<class 'numpy.ndarray'>
['2,853건']
<class 'numpy.ndarray'>
['2,499건']
<class 'numpy.ndarray'>
['2,466건']
<class 'numpy.ndarray'>
['2,370건']
<class 'numpy.ndarray'>
['2,377건']
<class 'numpy.ndarray'>
['2,213건']
<class 'numpy.ndarray'>
['1,791건']
<class 'numpy.ndarray'>
['2,002건']
<class 'numpy.ndarray'>
['3,086건']

In [40]:
# for i in df1.iloc[:, 1:2].values:
#     i = np.array2string(i).rstrip("건") # 허허....
# df1.iloc[:, 1:2].astype('float')

array(['2,552건'], dtype=object)

In [43]:
# np.array2string(df1.iloc[:, 1:2].values[1]) # 허허허... 
# 저 괄호 때문에 특정 문자열 삭제가 안되는 것 같다

"['2,552건']"

In [48]:
val1[0][0]

'2,844건'

In [58]:
# 넘파이 배열을 리스트로 변환해서 시도

val1 = df1.iloc[:, 1:2].values.tolist()
for i in val1:
    # i = i[0].rstrip("건")
    i[0]
# val1
# df1.iloc[:, 1:2].values = val1
# df1

In [19]:
Test = df1.iloc[0:12, 1:2].mean(axis=1)

C:\Users\PlayData\AppData\Local\Temp\ipykernel_12956\3729450534.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Test = df1.iloc[0:12, 1:2].mean(axis=1)

#### apply 이용해서 자르기

In [60]:
# df1['주택매매전체']=df1['주택매매전체'].apply(lambda x: x.split('건')[0])
df1['아파트매매']=df1['아파트매매'].apply(lambda x: x.split('건')[0])

#### 평균을 구해서 년 단위로 변환

In [61]:
df1.iloc[:, 1:3].mean(axis=1) # 타입이 섞인 것 같다

C:\Users\PlayData\AppData\Local\Temp\ipykernel_12956\293199355.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.iloc[:, 1:3].mean(axis=1)

서울  0     NaN
    1     NaN
    2     NaN
    3     NaN
    4     NaN
           ..
제주  116   NaN
    117   NaN
    118   NaN
    119   NaN
    120   NaN
Length: 2057, dtype: float64

In [64]:
type(df1.iloc[:, 1:3].values) # 타입이 array 인 걸 확인

numpy.ndarray

In [73]:
# df1.iloc[:, 1:3].values

array([['2,844', '1,001'],
       ['2,552', '761'],
       ['3,405', '900'],
       ...,
       ['924', '402'],
       ['832', '360'],
       ['1,655', '812']], dtype=object)

In [81]:
# import re 

# for i in df1.iloc[:, 1:3].values:
#     i[0] = re.sub(',', '', i[0])
#     i[1] = re.sub(',', '', i[1])
# type(df1.iloc[:, 1:3])
# type(df1['주택매매전체'][0])

str

In [84]:
# type(df1.iloc[:, 1:3].values[0][0])

str

#### 이것도 apply로 시도

In [87]:
# df1['주택매매전체'] = df1['주택매매전체'].apply(lambda x: ''.join(x.split(',')))
df1['아파트매매'] = df1['아파트매매'].apply(lambda x: ''.join(x.split(','))) # 성공!

#### 타입 변환해서 연산!

In [90]:
df1.iloc[:, 1:3] = df1.iloc[:, 1:3].astype('float')

C:\Users\PlayData\AppData\Local\Temp\ipykernel_12956\1108998936.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df1.iloc[:, 1:3] = df1.iloc[:, 1:3].astype('float')

In [144]:
s1 = df1.iloc[0:12, 1:3].mean(axis=0)

In [145]:
df2 = pd.DataFrame(s1)
df2 = df2.T
df2.index = ['서울 22년']
df2 # 데이터프레임 구조 설계 완료

         주택매매전체   아파트매매
서울 22년  4667.25  1282.0

In [118]:
# for i in range(21, 11, -1):
#     for j in range(12, 121, 12):
#         df2["서울"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)

In [128]:
# 잘못 처리되서 삭제

# df2 = df2.drop(df2.columns[range(2, 12, 1)], axis=1)

In [146]:
i = 21
for j in range(12, 121, 12):
    df2.loc["서울"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [147]:
i = 22

for j in range(121, 242, 12):
    df2.loc["부산"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [148]:
i = 22


for j in range(242, 363, 12):
    df2.loc["대구"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [149]:
i = 22


for j in range(363, 484, 12):
    df2.loc["인천"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [150]:
i = 22


for j in range(484, 605, 12):
    df2.loc["대전"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [151]:
i = 22


for j in range(605, 726, 12):
    df2.loc["광주"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [152]:
i = 22


for j in range(726, 847, 12):
    df2.loc["울산"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [153]:
i = 22


for j in range(847, 968, 12):
    df2.loc["세종"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [154]:
i = 22


for j in range(968, 1089, 12):
    df2.loc["경기도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [155]:
i = 22


for j in range(1089, 1210, 12):
    df2.loc["강원도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [156]:
i = 22


for j in range(1210, 1331, 12):
    df2.loc["충청북도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [157]:
i = 22


for j in range(1331, 1452, 12):
    df2.loc["충청남도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [158]:
i = 22


for j in range(1452, 1573, 12):
    df2.loc["전라북도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [159]:
i = 22


for j in range(1573, 1694, 12):
    df2.loc["전라남도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [160]:
i = 22


for j in range(1694, 1815, 12):
    df2.loc["경상북도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [161]:
i = 22


for j in range(1815, 1936, 12):
    df2.loc["경상남도"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [162]:
i = 22


for j in range(1936, 2057, 12):
    df2.loc["제주"+str(i)+"년"] = df1.iloc[j:j+12, 1:3].mean(axis=0)
    i -= 1

In [163]:
df2.to_excel('After_preprocessing/Total_bought_house.xlsx')

## 년도별로 정리된 데이터를 추가작업, 지역별로 정리하기

In [38]:
import pandas as pd
import numpy as np

In [41]:
df = pd.read_excel('After_preprocessing/Total_bought_house.xlsx')
df

    Unnamed: 0        주택매매전체         아파트매매
0       서울 22년   4667.250000   1282.000000
1        서울21년  10569.500000   4145.916667
2        서울20년  14813.083333   7815.333333
3        서울19년  10948.250000   5977.833333
4        서울18년  14254.166667   8051.833333
5        서울17년  15649.750000   8991.416667
6        서울16년  17748.166667  10217.166667
7        서울15년  18473.583333  10951.083333
8        서울14년  12355.500000   7641.333333
9        서울13년   9324.083333   5725.166667
10       서울12년   3417.833333   2108.333333
11       부산22년   2601.166667   1600.416667
12       부산21년   5803.833333   3734.083333
13       부산20년   9094.916667   6737.750000
14       부산19년   4490.833333   2999.083333
15       부산18년   4085.916667   2403.833333
16       부산17년   6108.666667   3539.000000
17       부산16년   7980.166667   5114.750000
18       부산15년   9135.333333   5927.166667
19       부산14년   7335.416667   4772.500000
20       부산13년   5940.833333   3780.916667
21       부산12년   1846.000000   1311.583333
22       대구22년   1252.583333    920.416667
23       대구21년   2592.750000   1769.250000
24       대구20년   5508.000000   4282.916667
25       대구19년   3579.666667   2531.833333
26       대구18년   3994.250000   2981.500000
27       대구17년   3716.916667   2790.000000
28       대구16년   2698.583333   1811.000000
29       대구15년   4678.750000   3147.833333
30       대구14년   4543.500000   3105.833333
31       대구13년   4613.166667   3415.500000
32       대구12년   3371.333333   1620.083333
33       인천22년   2945.500000   1163.000000
34       인천21년   7338.250000   3883.083333
35       인천20년   7813.166667   5176.833333
36       인천19년   5139.333333   2943.500000
37       인천18년   4927.750000   2766.916667
38       인천17년   5677.583333   3320.750000
39       인천16년   6515.583333   3910.000000
40       인천15년   6814.416667   4478.166667
41       인천14년   5450.916667   3833.750000
42       인천13년   4302.000000   3014.750000
43       인천12년   1737.416667   1357.083333
44       대전22년   1471.083333   1203.083333
45       대전21년   2715.666667   2293.333333
46       대전20년   3244.083333   2656.666667
47       대전19년   2287.416667   1794.083333
48       대전18년   2999.833333   2309.416667
49       대전17년   2700.916667   2073.916667
50       대전16년   2569.000000   1946.666667
51       대전15년   3264.166667   2509.666667
52       대전14년   2974.166667   2372.166667
53       대전13년   2661.583333   2078.666667
54       대전12년   1735.000000   1411.083333
55       광주22년   1471.083333   1203.083333
56       광주21년   2715.666667   2293.333333
57       광주20년   3244.083333   2656.666667
58       광주19년   2287.416667   1794.083333
59       광주18년   2999.833333   2309.416667
60       광주17년   2700.916667   2073.916667
61       광주16년   2569.000000   1946.666667
62       광주15년   3264.166667   2509.666667
63       광주14년   2974.166667   2372.166667
64       광주13년   2661.583333   2078.666667
65       광주12년   1302.833333   1047.416667
66       울산22년    967.916667    771.250000
67       울산21년   1840.666667   1420.750000
68       울산20년   2457.000000   2125.166667
69       울산19년   1426.583333   1228.500000
70       울산18년    940.250000    740.500000
71       울산17년   1451.083333   1090.583333
72       울산16년   1722.333333   1280.333333
73       울산15년   2572.750000   1970.833333
74       울산14년   2619.250000   2054.666667
75       울산13년   1983.083333   1586.666667
76       울산12년    459.000000    382.000000
77       세종22년    249.500000    220.666667
78       세종21년    641.750000    586.916667
79       세종20년   1128.583333   1068.333333
80       세종19년    503.083333    466.583333
81       세종18년    388.750000    349.666667
82       세종17년    434.500000    376.833333
83       세종16년    352.083333    307.166667
84       세종15년    223.833333    182.416667
85       세종14년    167.250000    118.333333
86       세종13년    152.250000    100.750000
87       세종12년    251.666667    219.166667
88      경기도22년    249.500000    220.666667
89      경기도21년    641.750000    586.916667
90      경기도20년   1128.583333   1068.333333
91      경기도19년    503.083333    466.583333
92      경기도18년    388.750000    349.666667
93      경기도17년    434.500000    376.833333
94      경기도16년    352.083333    307.166667
95      경기도15년    223.833333    182.416667
96      경기도14년    167.250000    118.333333
97      경기도13년    152.250000    100.750000
98      경기도12년   2004.250000   1339.666667
99      강원도22년   2140.166667   1432.250000
100     강원도21년   3450.416667   2542.333333
101     강원도20년   2960.333333   2188.833333
102     강원도19년   1871.166667   1242.250000
103     강원도18년   1860.583333   1177.750000
104     강원도17년   2383.916667   1513.666667
105     강원도16년   2913.583333   2111.250000
106     강원도15년   2764.833333   1960.333333
107     강원도14년   2448.250000   1773.083333
108     강원도13년   2383.666667   1791.250000
109     강원도12년   2221.250000   1581.666667
110    충청북도22년   2113.250000   1487.416667
111    충청북도21년   3431.916667   2649.250000
112    충청북도20년   3207.583333   2529.666667
113    충청북도19년   2024.166667   1490.083333
114    충청북도18년   1833.000000   1256.750000
115    충청북도17년   2146.500000   1443.583333
116    충청북도16년   2286.250000   1537.750000
117    충청북도15년   2422.000000   1565.166667
118    충청북도14년   2650.916667   1901.750000
119    충청북도13년   2510.750000   1791.083333
120    충청북도12년   2843.416667   2014.333333
121    충청남도22년   2682.250000   1865.583333
122    충청남도21년   4488.166667   3479.833333
123    충청남도20년   4276.000000   3364.500000
124    충청남도19년   2981.083333   2254.833333
125    충청남도18년   2474.083333   1755.416667
126    충청남도17년   2602.333333   1750.333333
127    충청남도16년   2742.500000   1836.250000
128    충청남도15년   3471.333333   2523.083333
129    충청남도14년   3983.416667   3082.166667
130    충청남도13년   3440.500000   2638.750000
131    충청남도12년   2883.750000   2041.083333
132    전라북도22년   2682.250000   1865.583333
133    전라북도21년   4488.166667   3479.833333
134    전라북도20년   4276.000000   3364.500000
135    전라북도19년   2981.083333   2254.833333
136    전라북도18년   2474.083333   1755.416667
137    전라북도17년   2602.333333   1750.333333
138    전라북도16년   2742.500000   1836.250000
139    전라북도15년   3471.333333   2523.083333
140    전라북도14년   3983.416667   3082.166667
141    전라북도13년   3440.500000   2638.750000
142    전라북도12년   2113.250000   1369.333333
143    전라남도22년   1850.500000   1140.583333
144    전라남도21년   2791.916667   1913.166667
145    전라남도20년   3230.583333   2335.250000
146    전라남도19년   2336.083333   1597.166667
147    전라남도18년   2364.250000   1614.416667
148    전라남도17년   2577.166667   1786.916667
149    전라남도16년   2594.583333   1780.083333
150    전라남도15년   2583.666667   1780.416667
151    전라남도14년   2055.833333   1298.416667
152    전라남도13년   1999.916667   1291.666667
153    전라남도12년   2893.000000   1880.416667
154    경상북도22년   2882.833333   1859.250000
155    경상북도21년   4513.083333   3181.750000
156    경상북도20년   4511.500000   3344.500000
157    경상북도19년   2876.083333   1939.333333
158    경상북도18년   2663.250000   1675.166667
159    경상북도17년   3080.750000   1876.750000
160    경상북도16년   3294.750000   1963.666667
161    경상북도15년   4714.500000   3007.250000
162    경상북도14년   4454.583333   2846.666667
163    경상북도13년   4318.083333   2798.083333
164    경상북도12년   3753.083333   2821.000000
165    경상남도22년   3526.750000   2669.250000
166    경상남도21년   6051.333333   4895.500000
167    경상남도20년   5846.750000   4852.916667
168    경상남도19년   3593.583333   2863.250000
169    경상남도18년   3111.333333   2236.500000
170    경상남도17년   4020.416667   2760.583333
171    경상남도16년   4822.083333   3346.000000
172    경상남도15년   6110.666667   4420.250000
173    경상남도14년   5997.833333   4468.416667
174    경상남도13년   5193.083333   3890.333333
175    경상남도12년   1571.583333   1021.083333
176      제주22년    702.500000    250.500000
177      제주21년   1005.000000    391.916667
178      제주20년    867.416667    345.916667
179      제주19년    666.083333    247.416667
180      제주18년    785.250000    286.250000
181      제주17년    771.750000    257.500000
182      제주16년   1032.666667    379.666667
183      제주15년   1104.750000    418.750000
184      제주14년   1025.500000    427.166667
185      제주13년    887.416667    385.750000
186      제주12년   1655.000000    812.000000

In [27]:
pd.set_option('display.max_rows',None)

In [42]:
df.at[0,'Unnamed: 0'] = '서울22년'
df.rename(columns={'Unnamed: 0':'지역'},inplace=True)

In [43]:
df['지역'] = df['지역'].apply(lambda x: x.split('년')[0])
# 0~10, 11~21, 22~32, 33~43...

In [53]:
df['시점'] = df['지역'].apply(lambda x: '20'+x[2:] if len(x)==4 else('20'+x[3:] if len(x)==5 else '20'+x[4:]))
df['시점'] = df['시점'].astype('int')

In [65]:
# 서울
seoul_df = df.loc[0:10,['시점','주택매매전체','아파트매매']]
seoul_df =seoul_df.sort_values(by='시점')
seoul_df['지역'] = 'Seoul'
seoul_df.set_index('시점',inplace=True)
seoul_df

            주택매매전체         아파트매매     지역
시점
2012   3417.833333   2108.333333  Seoul
2013   9324.083333   5725.166667  Seoul
2014  12355.500000   7641.333333  Seoul
2015  18473.583333  10951.083333  Seoul
2016  17748.166667  10217.166667  Seoul
2017  15649.750000   8991.416667  Seoul
2018  14254.166667   8051.833333  Seoul
2019  10948.250000   5977.833333  Seoul
2020  14813.083333   7815.333333  Seoul
2021  10569.500000   4145.916667  Seoul
2022   4667.250000   1282.000000  Seoul

In [66]:
# 부산
busan_df = df.loc[11:21,['시점','주택매매전체','아파트매매']]
busan_df['지역'] = 'Busan'
busan_df = busan_df.sort_values(by='시점')
busan_df.set_index('시점',inplace=True)
busan_df

           주택매매전체        아파트매매     지역
시점
2012  1846.000000  1311.583333  Busan
2013  5940.833333  3780.916667  Busan
2014  7335.416667  4772.500000  Busan
2015  9135.333333  5927.166667  Busan
2016  7980.166667  5114.750000  Busan
2017  6108.666667  3539.000000  Busan
2018  4085.916667  2403.833333  Busan
2019  4490.833333  2999.083333  Busan
2020  9094.916667  6737.750000  Busan
2021  5803.833333  3734.083333  Busan
2022  2601.166667  1600.416667  Busan

In [68]:
# 대구
daegu_df = df.loc[22:32,['시점','주택매매전체','아파트매매']]
daegu_df['지역'] = 'Daegu'
daegu_df = daegu_df.sort_values(by='시점')
daegu_df.set_index('시점',inplace=True)
daegu_df

           주택매매전체        아파트매매     지역
시점
2012  3371.333333  1620.083333  Daegu
2013  4613.166667  3415.500000  Daegu
2014  4543.500000  3105.833333  Daegu
2015  4678.750000  3147.833333  Daegu
2016  2698.583333  1811.000000  Daegu
2017  3716.916667  2790.000000  Daegu
2018  3994.250000  2981.500000  Daegu
2019  3579.666667  2531.833333  Daegu
2020  5508.000000  4282.916667  Daegu
2021  2592.750000  1769.250000  Daegu
2022  1252.583333   920.416667  Daegu

In [79]:
# 인천
incheon_df = df.loc[33:43,['시점','주택매매전체','아파트매매']]
incheon_df['지역'] = 'Incheon'
incheon_df = incheon_df.sort_values(by='시점')
incheon_df.set_index('시점',inplace=True)
incheon_df

           주택매매전체        아파트매매       지역
시점
2012  1737.416667  1357.083333  Incheon
2013  4302.000000  3014.750000  Incheon
2014  5450.916667  3833.750000  Incheon
2015  6814.416667  4478.166667  Incheon
2016  6515.583333  3910.000000  Incheon
2017  5677.583333  3320.750000  Incheon
2018  4927.750000  2766.916667  Incheon
2019  5139.333333  2943.500000  Incheon
2020  7813.166667  5176.833333  Incheon
2021  7338.250000  3883.083333  Incheon
2022  2945.500000  1163.000000  Incheon

In [80]:
# 대전
Dj_df = df.loc[44:54,['시점','주택매매전체','아파트매매']]
Dj_df['지역'] = 'Daejeon'
Dj_df = Dj_df.sort_values(by='시점')
Dj_df.set_index('시점',inplace=True)
Dj_df

           주택매매전체        아파트매매       지역
시점
2012  1735.000000  1411.083333  Daejeon
2013  2661.583333  2078.666667  Daejeon
2014  2974.166667  2372.166667  Daejeon
2015  3264.166667  2509.666667  Daejeon
2016  2569.000000  1946.666667  Daejeon
2017  2700.916667  2073.916667  Daejeon
2018  2999.833333  2309.416667  Daejeon
2019  2287.416667  1794.083333  Daejeon
2020  3244.083333  2656.666667  Daejeon
2021  2715.666667  2293.333333  Daejeon
2022  1471.083333  1203.083333  Daejeon

In [81]:
# 광주
Gj_df = df.loc[55:65,['시점','주택매매전체','아파트매매']]
Gj_df['지역'] = 'Gwangju'
Gj_df = Gj_df.sort_values(by='시점')
Gj_df.set_index('시점',inplace=True)
Gj_df

           주택매매전체        아파트매매       지역
시점
2012  1302.833333  1047.416667  Gwangju
2013  2661.583333  2078.666667  Gwangju
2014  2974.166667  2372.166667  Gwangju
2015  3264.166667  2509.666667  Gwangju
2016  2569.000000  1946.666667  Gwangju
2017  2700.916667  2073.916667  Gwangju
2018  2999.833333  2309.416667  Gwangju
2019  2287.416667  1794.083333  Gwangju
2020  3244.083333  2656.666667  Gwangju
2021  2715.666667  2293.333333  Gwangju
2022  1471.083333  1203.083333  Gwangju

In [82]:
# 울산
Us_df = df.loc[66:76,['시점','주택매매전체','아파트매매']]
Us_df['지역'] = 'Ulsan'
Us_df = Us_df.sort_values(by='시점')
Us_df.set_index('시점',inplace=True)
Us_df

           주택매매전체        아파트매매     지역
시점
2012   459.000000   382.000000  Ulsan
2013  1983.083333  1586.666667  Ulsan
2014  2619.250000  2054.666667  Ulsan
2015  2572.750000  1970.833333  Ulsan
2016  1722.333333  1280.333333  Ulsan
2017  1451.083333  1090.583333  Ulsan
2018   940.250000   740.500000  Ulsan
2019  1426.583333  1228.500000  Ulsan
2020  2457.000000  2125.166667  Ulsan
2021  1840.666667  1420.750000  Ulsan
2022   967.916667   771.250000  Ulsan

In [83]:
# 세종
Gg_df = df.loc[77:87,['시점','주택매매전체','아파트매매']]
Gg_df['지역'] = 'Sejong'
Gg_df = Gg_df.sort_values(by='시점')
Gg_df.set_index('시점',inplace=True)
Gg_df

           주택매매전체        아파트매매      지역
시점
2012   251.666667   219.166667  Sejong
2013   152.250000   100.750000  Sejong
2014   167.250000   118.333333  Sejong
2015   223.833333   182.416667  Sejong
2016   352.083333   307.166667  Sejong
2017   434.500000   376.833333  Sejong
2018   388.750000   349.666667  Sejong
2019   503.083333   466.583333  Sejong
2020  1128.583333  1068.333333  Sejong
2021   641.750000   586.916667  Sejong
2022   249.500000   220.666667  Sejong

In [84]:
# 경기도
Gg_df = df.loc[88:98,['시점','주택매매전체','아파트매매']]
Gg_df['지역'] = 'Gyeongi'
Gg_df = Gg_df.sort_values(by='시점')
Gg_df.set_index('시점',inplace=True)
Gg_df

           주택매매전체        아파트매매       지역
시점
2012  2004.250000  1339.666667  Gyeongi
2013   152.250000   100.750000  Gyeongi
2014   167.250000   118.333333  Gyeongi
2015   223.833333   182.416667  Gyeongi
2016   352.083333   307.166667  Gyeongi
2017   434.500000   376.833333  Gyeongi
2018   388.750000   349.666667  Gyeongi
2019   503.083333   466.583333  Gyeongi
2020  1128.583333  1068.333333  Gyeongi
2021   641.750000   586.916667  Gyeongi
2022   249.500000   220.666667  Gyeongi

In [85]:
# 강원도
Gw_df = df.loc[99:109,['시점','주택매매전체','아파트매매']]
Gw_df['지역'] = 'Gangwon'
Gw_df = Gw_df.sort_values(by='시점')
Gw_df.set_index('시점',inplace=True)
Gw_df

           주택매매전체        아파트매매       지역
시점
2012  2221.250000  1581.666667  Gangwon
2013  2383.666667  1791.250000  Gangwon
2014  2448.250000  1773.083333  Gangwon
2015  2764.833333  1960.333333  Gangwon
2016  2913.583333  2111.250000  Gangwon
2017  2383.916667  1513.666667  Gangwon
2018  1860.583333  1177.750000  Gangwon
2019  1871.166667  1242.250000  Gangwon
2020  2960.333333  2188.833333  Gangwon
2021  3450.416667  2542.333333  Gangwon
2022  2140.166667  1432.250000  Gangwon

In [88]:
# 충청북도
Chn_df = df.loc[110:120,['시점','주택매매전체','아파트매매']]
Chn_df['지역'] = 'North_Chungcheong'
Chn_df = Chn_df.sort_values(by='시점')
Chn_df.set_index('시점',inplace=True)
Chn_df

           주택매매전체        아파트매매                 지역
시점
2012  2843.416667  2014.333333  North_Chungcheong
2013  2510.750000  1791.083333  North_Chungcheong
2014  2650.916667  1901.750000  North_Chungcheong
2015  2422.000000  1565.166667  North_Chungcheong
2016  2286.250000  1537.750000  North_Chungcheong
2017  2146.500000  1443.583333  North_Chungcheong
2018  1833.000000  1256.750000  North_Chungcheong
2019  2024.166667  1490.083333  North_Chungcheong
2020  3207.583333  2529.666667  North_Chungcheong
2021  3431.916667  2649.250000  North_Chungcheong
2022  2113.250000  1487.416667  North_Chungcheong

In [89]:
# 충청남도
Chs_df = df.loc[121:131,['시점','주택매매전체','아파트매매']]
Chs_df['지역'] = 'South_Chungcheong'
Chs_df = Chs_df.sort_values(by='시점')
Chs_df.set_index('시점',inplace=True)
Chs_df

           주택매매전체        아파트매매                 지역
시점
2012  2883.750000  2041.083333  South_Chungcheong
2013  3440.500000  2638.750000  South_Chungcheong
2014  3983.416667  3082.166667  South_Chungcheong
2015  3471.333333  2523.083333  South_Chungcheong
2016  2742.500000  1836.250000  South_Chungcheong
2017  2602.333333  1750.333333  South_Chungcheong
2018  2474.083333  1755.416667  South_Chungcheong
2019  2981.083333  2254.833333  South_Chungcheong
2020  4276.000000  3364.500000  South_Chungcheong
2021  4488.166667  3479.833333  South_Chungcheong
2022  2682.250000  1865.583333  South_Chungcheong

In [90]:
# 전라북도
Jrn_df = df.loc[132:142,['시점','주택매매전체','아파트매매']]
Jrn_df['지역'] = 'North_Jeonra'
Jrn_df = Jrn_df.sort_values(by='시점')
Jrn_df.set_index('시점',inplace=True)
Jrn_df

           주택매매전체        아파트매매            지역
시점
2012  2113.250000  1369.333333  North_Jeonra
2013  3440.500000  2638.750000  North_Jeonra
2014  3983.416667  3082.166667  North_Jeonra
2015  3471.333333  2523.083333  North_Jeonra
2016  2742.500000  1836.250000  North_Jeonra
2017  2602.333333  1750.333333  North_Jeonra
2018  2474.083333  1755.416667  North_Jeonra
2019  2981.083333  2254.833333  North_Jeonra
2020  4276.000000  3364.500000  North_Jeonra
2021  4488.166667  3479.833333  North_Jeonra
2022  2682.250000  1865.583333  North_Jeonra

In [91]:
# 전라남도
Jrs_df = df.loc[143:153,['시점','주택매매전체','아파트매매']]
Jrs_df['지역'] = 'South_Jeonra'
Jrs_df = Jrs_df.sort_values(by='시점')
Jrs_df.set_index('시점',inplace=True)
Jrs_df

           주택매매전체        아파트매매            지역
시점
2012  2893.000000  1880.416667  South_Jeonra
2013  1999.916667  1291.666667  South_Jeonra
2014  2055.833333  1298.416667  South_Jeonra
2015  2583.666667  1780.416667  South_Jeonra
2016  2594.583333  1780.083333  South_Jeonra
2017  2577.166667  1786.916667  South_Jeonra
2018  2364.250000  1614.416667  South_Jeonra
2019  2336.083333  1597.166667  South_Jeonra
2020  3230.583333  2335.250000  South_Jeonra
2021  2791.916667  1913.166667  South_Jeonra
2022  1850.500000  1140.583333  South_Jeonra

In [92]:
# 경상북도
Gsn_df = df.loc[154:164,['시점','주택매매전체','아파트매매']]
Gsn_df['지역'] = 'North_Geoung_sang'
Gsn_df = Gsn_df.sort_values(by='시점')
Gsn_df.set_index('시점',inplace=True)
Gsn_df

           주택매매전체        아파트매매                 지역
시점
2012  3753.083333  2821.000000  North_Geoung_sang
2013  4318.083333  2798.083333  North_Geoung_sang
2014  4454.583333  2846.666667  North_Geoung_sang
2015  4714.500000  3007.250000  North_Geoung_sang
2016  3294.750000  1963.666667  North_Geoung_sang
2017  3080.750000  1876.750000  North_Geoung_sang
2018  2663.250000  1675.166667  North_Geoung_sang
2019  2876.083333  1939.333333  North_Geoung_sang
2020  4511.500000  3344.500000  North_Geoung_sang
2021  4513.083333  3181.750000  North_Geoung_sang
2022  2882.833333  1859.250000  North_Geoung_sang

In [94]:
# 경상남도
Gss_df = df.loc[165:175,['시점','주택매매전체','아파트매매']]
Gss_df['지역'] = 'South_Geoung_sang'
Gss_df = Gss_df.sort_values(by='시점')
Gss_df.set_index('시점',inplace=True)
Gss_df

           주택매매전체        아파트매매                 지역
시점
2012  1571.583333  1021.083333  South_Geoung_sang
2013  5193.083333  3890.333333  South_Geoung_sang
2014  5997.833333  4468.416667  South_Geoung_sang
2015  6110.666667  4420.250000  South_Geoung_sang
2016  4822.083333  3346.000000  South_Geoung_sang
2017  4020.416667  2760.583333  South_Geoung_sang
2018  3111.333333  2236.500000  South_Geoung_sang
2019  3593.583333  2863.250000  South_Geoung_sang
2020  5846.750000  4852.916667  South_Geoung_sang
2021  6051.333333  4895.500000  South_Geoung_sang
2022  3526.750000  2669.250000  South_Geoung_sang

In [96]:
# 경상남도
Jej_df = df.loc[176:186,['시점','주택매매전체','아파트매매']]
Jej_df['지역'] = 'Jeju'
Jej_df = Jej_df.sort_values(by='시점')
Jej_df.set_index('시점',inplace=True)
Jej_df

           주택매매전체       아파트매매    지역
시점
2012  1655.000000  812.000000  Jeju
2013   887.416667  385.750000  Jeju
2014  1025.500000  427.166667  Jeju
2015  1104.750000  418.750000  Jeju
2016  1032.666667  379.666667  Jeju
2017   771.750000  257.500000  Jeju
2018   785.250000  286.250000  Jeju
2019   666.083333  247.416667  Jeju
2020   867.416667  345.916667  Jeju
2021  1005.000000  391.916667  Jeju
2022   702.500000  250.500000  Jeju