In [2]:
# 라이브러리
import pandas as pd
import numpy as np

In [3]:
# 기본 경로 설정
path = 'C:/Users/gihun/Python_data/data/Fertility_rate'

In [4]:
# 출산율 데이터 불러오기
fertility = pd.read_excel(path+'/출산율/시군구_합계출산율.xlsx')
fertility

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,시점,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,...,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율,합계출산율
1,2006,1.132,0.98,1.012,1.114,0.994,1.019,1.064,1.156,0.922,...,1.151,1.23,1.337,1.237,1.233,1.208,1.254,1.225,1.364,1.372
2,2007,1.259,1.068,1.12,1.21,1.07,1.124,1.165,1.232,1.005,...,1.286,1.379,1.542,1.392,1.337,1.369,1.434,1.415,1.548,1.489
3,2008,1.192,1.01,1.042,1.134,0.966,1.043,1.123,1.202,0.942,...,1.232,1.289,1.449,1.31,1.272,1.313,1.368,1.331,1.433,1.386
4,2009,1.149,0.962,1.001,1.046,0.958,0.947,1.067,1.124,0.879,...,1.148,1.229,1.445,1.278,1.239,1.274,1.323,1.283,1.39,1.378
5,2010,1.226,1.015,1.048,1.1,1.02,0.974,1.085,1.197,0.881,...,1.23,1.337,1.537,1.379,1.25,1.377,1.413,-,1.471,1.463
6,2011,1.244,1.014,1.062,1.083,1.064,1.002,1.113,1.177,0.897,...,1.262,1.34,1.568,1.467,1.3,1.434,1.446,-,1.463,1.487
7,2012,1.297,1.059,1.044,1.162,1.139,1.055,1.151,1.258,0.891,...,1.3,1.426,1.642,1.462,1.343,1.489,1.503,-,1.541,1.598
8,2013,1.187,0.968,0.983,1.057,1.024,0.99,1.032,1.162,0.825,...,1.205,1.285,1.518,1.414,1.298,1.379,1.367,-,1.397,1.427
9,2014,1.205,0.983,0.949,1.109,1.028,1.005,1.064,1.142,0.834,...,1.233,1.273,1.497,1.381,1.261,1.408,1.409,-,1.473,1.481
10,2015,1.239,1.001,0.991,1.096,1.003,1.034,1.129,1.169,0.833,...,1.255,1.341,1.549,1.55,1.34,1.464,1.437,-,1.495,1.477
11,2016,1.172,0.94,0.909,1.068,0.943,1.008,1.059,1.07,0.777,...,1.149,1.213,1.466,1.464,1.247,1.396,1.358,-,1.403,1.432
12,2017,1.052,0.836,0.818,0.938,0.814,0.898,0.925,0.943,0.662,...,1.054,1.158,1.325,1.334,1.18,1.256,1.227,-,1.234,1.305
13,2018,0.977,0.761,0.737,0.809,0.772,0.771,0.826,0.838,0.597,...,0.954,1.03,1.24,1.192,1.108,1.167,1.122,-,1.082,1.22
14,2019,0.918,0.717,0.707,0.776,0.697,0.742,0.76,0.794,0.536,...,0.883,0.908,1.234,1.108,1.16,1.089,1.046,-,1.083,1.145
15,2020,0.837,0.642,0.676,0.695,0.623,0.644,0.675,0.737,0.474,...,0.811,0.851,1.145,1.067,1.041,1.003,0.945,-,0.952,1.021
16,2021,0.808,0.626,0.656,0.701,0.604,0.645,0.617,0.737,0.437,...,0.786,0.791,1.017,1.009,1,0.966,0.903,-,0.909,0.951

In [53]:
region_list = ['전국','서울특별시','부산광역시','대구광역시','인천광역시','광주광역시','대전광역시','울산광역시','세종특별자치시','경기도','강원도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도','제주특별자치도']

In [6]:
# 시점 인덱스 설정
fertility.set_index('시점',inplace=True)
# 시점 행 탈락
fertility.drop('시점',axis=0,inplace=True)
# 열 재설정
fertility = fertility[region_list]
# index int로 설정
fertility.index = fertility.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
fertility = fertility.replace('-',0)
# 모든 값 자료형 변경
fertility = fertility.apply(pd.to_numeric)
fertility

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,1.132,0.980,0.915,1.011,1.116,1.152,1.158,1.242,0.000,1.239,1.202,1.233,1.356,1.213,1.337,1.208,1.254,1.372
2007,1.259,1.068,1.024,1.137,1.257,1.262,1.274,1.403,0.000,1.361,1.356,1.398,1.506,1.380,1.542,1.369,1.434,1.489
2008,1.192,1.010,0.980,1.072,1.186,1.198,1.215,1.338,0.000,1.285,1.253,1.319,1.444,1.305,1.449,1.313,1.368,1.386
2009,1.149,0.962,0.940,1.029,1.143,1.137,1.156,1.308,0.000,1.226,1.248,1.317,1.408,1.279,1.445,1.274,1.323,1.378
2010,1.226,1.015,1.045,1.109,1.214,1.223,1.205,1.369,0.000,1.309,1.313,1.402,1.479,1.374,1.537,1.377,1.413,1.463
2011,1.244,1.014,1.078,1.146,1.232,1.234,1.261,1.393,0.000,1.314,1.338,1.428,1.496,1.405,1.568,1.434,1.446,1.487
2012,1.297,1.059,1.135,1.217,1.301,1.295,1.315,1.481,1.597,1.355,1.374,1.485,1.571,1.440,1.642,1.489,1.503,1.598
2013,1.187,0.968,1.049,1.127,1.195,1.170,1.234,1.391,1.435,1.226,1.249,1.365,1.442,1.320,1.518,1.379,1.367,1.427
2014,1.205,0.983,1.090,1.169,1.212,1.199,1.250,1.437,1.354,1.241,1.248,1.363,1.421,1.329,1.497,1.408,1.409,1.481
2015,1.239,1.001,1.139,1.216,1.216,1.207,1.277,1.486,1.893,1.272,1.311,1.414,1.480,1.352,1.549,1.464,1.437,1.477
2016,1.172,0.940,1.095,1.186,1.144,1.168,1.192,1.418,1.821,1.194,1.237,1.358,1.395,1.251,1.466,1.396,1.358,1.432
2017,1.052,0.836,0.976,1.067,1.007,1.053,1.075,1.261,1.668,1.069,1.123,1.235,1.276,1.151,1.325,1.256,1.227,1.305
2018,0.977,0.761,0.899,0.987,1.006,0.972,0.952,1.131,1.566,1.002,1.067,1.172,1.186,1.044,1.240,1.167,1.122,1.220
2019,0.918,0.717,0.827,0.932,0.940,0.913,0.883,1.084,1.472,0.943,1.082,1.050,1.112,0.971,1.234,1.089,1.046,1.145
2020,0.837,0.642,0.747,0.807,0.829,0.811,0.805,0.984,1.277,0.878,1.036,0.983,1.029,0.909,1.145,1.003,0.945,1.021
2021,0.808,0.626,0.728,0.785,0.778,0.896,0.810,0.940,1.277,0.853,0.979,0.949,0.963,0.850,1.017,0.966,0.903,0.951

In [7]:
fertility.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치도  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [421]:
fertility.to_excel(path+'/출산율/시군구_합계출산율최종.xlsx')

In [8]:
# 학원 수 데이터 불러오기
academy = pd.read_excel(path+'/학원수/사설학원수2006~2021.xlsx')
academy

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
0,시점,사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개),사설학원수(A) (개)
1,2006,66841,11794,4709,3041,2652,2640,1982,2416,-,15529,2210,2154,2528,3084,2547,3317,5340,898
2,2007,67649,11549,4779,2929,2684,2420,2128,2346,-,15591,2315,2221,2660,3264,2637,3355,5844,927
3,2008,70329,12006,4751,2978,2879,2760,2134,2495,-,16566,2322,2276,2825,3313,2727,3306,6055,936
4,2009,72242,12086,4751,3435,2853,2211,2208,2649,-,17613,2393,2393,2902,3479,2829,3446,6059,935
5,2010,75952,13168,4860,3910,2924,2476,2218,2632,-,18146,2456,2489,3077,3842,2897,3572,6291,994
6,2011,76165,13477,5026,3746,2831,2281,2168,2600,-,18674,2474,2435,2944,3956,2891,3735,5970,957
7,2012,75695,13688,4859,3542,3338,2038,2167,2535,90,18530,2335,2393,2738,4005,2845,3696,5916,980
8,2013,75281,13405,4638,3639,3198,3368,2159,2303,108,18134,2326,2365,2684,3933,2787,3594,5662,978
9,2014,76030,13671,4529,3651,3167,3497,2086,2351,101,18074,2253,2350,2732,3989,2853,3842,5885,999
10,2015,78483,13989,4696,3639,3209,3535,2210,2479,169,20106,2185,2338,2758,3975,2737,3507,5945,1006
11,2016,78306,13974,4708,3744,3395,3534,2235,2542,257,19465,2187,2320,2782,4040,2652,3568,5907,996
12,2017,80130,14189,4748,3815,3585,3556,2224,2566,357,20195,2223,2298,2883,3971,2797,3677,6052,994
13,2018,80412,14080,4666,3901,3702,3402,2223,2586,499,20781,2200,2249,2961,3938,2691,3540,5976,1017
14,2019,80937,14044,4790,3948,3747,3472,2201,2540,607,21145,2182,2230,2923,3865,2703,3542,5972,1026
15,2020,81762,13992,4938,3941,3904,3439,2198,2503,689,21716,2179,2232,2939,3853,2687,3529,5972,1051
16,2021,81868,13809,5000,3968,3897,3433,2237,2461,800,21688,2188,2268,2926,3875,2677,3551,5995,1095

In [9]:
# 시점 인덱스 설정
academy.set_index('시점',inplace=True)
# 시점 행 탈락
academy.drop('시점',axis=0,inplace=True)
# index int로 설정
academy.index = academy.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
academy = academy.replace('-',0)
# 모든 값 자료형 변경
academy = academy.apply(pd.to_numeric)
academy

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,66841,11794,4709,3041,2652,2640,1982,2416,0,15529,2210,2154,2528,3084,2547,3317,5340,898
2007,67649,11549,4779,2929,2684,2420,2128,2346,0,15591,2315,2221,2660,3264,2637,3355,5844,927
2008,70329,12006,4751,2978,2879,2760,2134,2495,0,16566,2322,2276,2825,3313,2727,3306,6055,936
2009,72242,12086,4751,3435,2853,2211,2208,2649,0,17613,2393,2393,2902,3479,2829,3446,6059,935
2010,75952,13168,4860,3910,2924,2476,2218,2632,0,18146,2456,2489,3077,3842,2897,3572,6291,994
2011,76165,13477,5026,3746,2831,2281,2168,2600,0,18674,2474,2435,2944,3956,2891,3735,5970,957
2012,75695,13688,4859,3542,3338,2038,2167,2535,90,18530,2335,2393,2738,4005,2845,3696,5916,980
2013,75281,13405,4638,3639,3198,3368,2159,2303,108,18134,2326,2365,2684,3933,2787,3594,5662,978
2014,76030,13671,4529,3651,3167,3497,2086,2351,101,18074,2253,2350,2732,3989,2853,3842,5885,999
2015,78483,13989,4696,3639,3209,3535,2210,2479,169,20106,2185,2338,2758,3975,2737,3507,5945,1006
2016,78306,13974,4708,3744,3395,3534,2235,2542,257,19465,2187,2320,2782,4040,2652,3568,5907,996
2017,80130,14189,4748,3815,3585,3556,2224,2566,357,20195,2223,2298,2883,3971,2797,3677,6052,994
2018,80412,14080,4666,3901,3702,3402,2223,2586,499,20781,2200,2249,2961,3938,2691,3540,5976,1017
2019,80937,14044,4790,3948,3747,3472,2201,2540,607,21145,2182,2230,2923,3865,2703,3542,5972,1026
2020,81762,13992,4938,3941,3904,3439,2198,2503,689,21716,2179,2232,2939,3853,2687,3529,5972,1051
2021,81868,13809,5000,3968,3897,3433,2237,2461,800,21688,2188,2268,2926,3875,2677,3551,5995,1095

In [10]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [422]:
academy.to_excel(path+'/학원수/사설학원수최종.xlsx')

In [11]:
# 혼인건수 데이터 불러오기
marry = pd.read_excel(path+'/혼인건수/시군구_혼인건수.xlsx')
marry

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,2006,330634,73924,3299,3977,3085,2798,4171,3701,4660,...,3438,1747,10507,1629,1474,16178,20789,3386,3056,3576
1,2007,343559,76399,3364,4013,3030,3050,4233,3952,4880,...,3653,1865,10854,1689,1506,16623,21555,3482,3208,3495
2,2008,327715,71753,3067,3625,2905,2668,4283,3649,4509,...,3490,1819,10480,1720,1529,15634,20497,3319,3102,3445
3,2009,309759,68841,2947,3368,2816,2647,4141,3307,4296,...,3335,1592,10051,1567,1352,14499,19494,3114,2985,3279
4,2010,326104,70466,3212,3511,3009,2553,4247,3472,4365,...,3622,1726,10461,1820,1424,15592,21170,-,3238,3515
5,2011,329087,71519,3109,3720,3205,2777,4276,3470,4372,...,3765,1712,10266,1773,1476,15942,20769,-,3084,3582
6,2012,327073,71695,2933,3638,3232,2679,4432,3610,4457,...,3574,1627,9827,1684,1413,15383,20140,-,3061,3482
7,2013,322807,68819,2809,3432,3277,2644,4331,3357,4183,...,3725,1635,9995,1797,1444,15421,20291,-,3320,3638
8,2014,305507,64823,2415,3176,2916,2490,4338,3156,3949,...,3457,1484,9357,1755,1432,14183,19056,-,3123,3593
9,2015,302828,64193,2379,3146,2812,2516,4578,3045,3859,...,3406,1544,9275,1718,1396,14273,18671,-,2901,3676
10,2016,281635,57643,2131,2778,2573,2258,4111,2674,3537,...,3084,1344,8554,1453,1304,13363,17580,-,2750,3705
11,2017,264455,53776,1917,2420,2331,2021,4069,2460,3205,...,2911,1246,8049,1399,1227,12190,15978,-,2578,3654
12,2018,257622,52005,1919,2240,2364,1957,3835,2286,3090,...,2944,1063,7587,1251,1273,11687,14996,0,2489,3638
13,2019,239159,48261,1880,2138,2178,1705,3589,2063,2802,...,2828,1010,7413,1257,1164,10637,13613,0,2425,3358
14,2020,213502,44746,1672,1961,2061,1637,3233,2063,2529,...,2447,820,6365,1051,1017,9046,11900,0,2185,2981
15,2021,192507,37012,1471,1765,1590,1359,2669,1671,2110,...,2185,878,6201,1083,1047,8163,10531,0,1820,2661

In [12]:
# 시점 인덱스 설정
marry.set_index('시점',inplace=True)
# 열 재설정
marry = marry[region_list]
# index int로 설정
marry.index = marry.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
marry = marry.replace('-',0)
# 모든 값 자료형 변경
marry = marry.apply(pd.to_numeric)
marry

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,330634,73924,20017,13892,17261,8487,9502,7493,0,77231,8731,9291,13373,10429,10507,16178,20789,3576
2007,343559,76399,21484,14655,18227,8858,9684,7563,0,81248,8930,9834,13766,10864,10854,16623,21555,3495
2008,327715,71753,20149,13743,18108,8472,9499,7837,0,78004,8517,9512,13354,10399,10480,15634,20497,3445
2009,309759,68841,18614,12844,16643,8088,8885,7267,0,73403,8081,8666,12708,9605,10051,14499,19494,3279
2010,326104,70466,20195,13479,17407,8566,9351,7660,0,78471,8365,9171,13185,10525,10461,15592,21170,3515
2011,329087,71519,20224,13813,18013,8946,9726,7768,0,79137,8338,9542,13216,10353,10266,15942,20769,3582
2012,327073,71695,20362,13642,18079,8596,9745,7887,634,79449,8225,9275,12849,10022,9827,15383,20140,3482
2013,322807,68819,20734,13601,18010,8820,9621,7998,743,77649,7946,9307,12482,9823,9995,15421,20291,3638
2014,305507,64823,18927,12552,17251,8213,9118,7674,920,74306,7785,8774,12040,9211,9357,14183,19056,3593
2015,302828,64193,18553,12545,17118,7945,8805,7483,1498,73950,7876,8872,12331,9060,9275,14273,18671,3676
2016,281635,57643,17113,12216,16092,7468,8325,7006,1612,70052,7468,8334,11792,8216,8554,13363,17580,3705
2017,264455,53776,15677,11392,15235,7141,7697,6331,1728,66429,7295,7990,10961,7817,8049,12190,15978,3654
2018,257622,52005,14781,10967,14850,6632,7377,5894,2038,66877,6994,7827,10970,7219,7587,11687,14996,3638
2019,239159,48261,13780,9880,13401,6297,6602,5442,2039,62356,6762,7239,9826,7005,7413,10637,13613,3358
2020,213502,44746,12128,8340,11574,5560,5976,4737,1854,57814,5868,6682,8493,6053,6365,9046,11900,2981
2021,192507,37012,11081,7287,10881,4901,5419,4077,1627,54658,5622,5882,8016,5325,6201,8163,10531,2661

In [13]:
marry.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [423]:
marry.to_excel(path+'/혼인건수/시도혼인건수최종.xlsx')

In [14]:
# 이혼건수 데이터 불러오기
divorce = pd.read_excel(path+'/이혼건수/시군구_이혼건수.xlsx')
divorce

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,전국,서울특별시,성북구,노원구,은평구,양천구,강서구,구로구,관악구,...,전주시,익산시,전라남도,여수시,순천시,경상북도,경상남도,창원시,김해시,제주특별자치도
0,2006,124524,24354,1112,1278,1283,1104,1427,967,1173,...,1363,913,4423,748,619,5604,7603,1023,1223,1613
1,2007,124072,24615,1131,1308,1273,1145,1393,982,1238,...,1331,831,4240,692,571,5571,7493,1055,1171,1561
2,2008,116535,23319,1066,1192,1115,1046,1366,935,1228,...,1123,740,4021,622,527,5287,6981,997,1173,1238
3,2009,123999,23920,1118,1317,1179,1004,1376,1017,1270,...,1300,802,4290,650,590,5523,7476,1008,1281,1469
4,2010,116858,21768,987,1190,1103,981,1261,923,1086,...,1161,707,4326,667,600,5476,7503,-,1209,1466
5,2011,114284,20617,886,1120,999,903,1198,899,1080,...,1245,727,4138,656,518,5322,7207,-,1193,1395
6,2012,114316,20177,885,1094,1081,891,1165,885,1039,...,1130,681,4011,632,534,5562,7427,-,1284,1426
7,2013,115292,20126,934,1075,1073,910,1181,883,1089,...,1285,737,4096,609,561,5410,7547,-,1240,1440
8,2014,115510,19477,907,1067,980,873,1092,826,1005,...,1336,736,4135,666,549,5503,7602,-,1290,1530
9,2015,109153,18176,823,984,948,775,1118,817,896,...,1129,641,4033,592,553,5348,7368,-,1241,1447
10,2016,107328,17777,833,955,947,821,1112,783,926,...,1306,670,3965,636,496,5375,7486,-,1282,1552
11,2017,106032,17083,732,1003,917,700,1120,775,817,...,1141,680,4008,612,530,5505,7355,-,1286,1530
12,2018,108684,16940,757,887,925,743,1068,741,856,...,1251,677,4170,623,556,5620,7575,0,1268,1607
13,2019,110831,16972,661,903,905,727,1103,733,875,...,1290,677,4130,633,572,5635,7827,0,1313,1716
14,2020,106500,16282,667,891,869,761,1103,716,769,...,1216,616,3907,612,506,5553,7368,0,1229,1744
15,2021,101673,14967,647,782,807,683,973,658,741,...,1201,634,3776,563,524,5097,7034,0,1228,1490

In [15]:
# 시점 인덱스 설정
divorce.set_index('시점',inplace=True)
# 열 재설정
divorce = divorce[region_list]
# index int로 설정
divorce.index = divorce.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
divorce = divorce.replace('-',0)
# 모든 값 자료형 변경
divorce = divorce.apply(pd.to_numeric)
divorce

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
시점,,,,,,,,,,,,,,,,,,
2006,124524,24354,8953,5490,8132,2974,3287,2825,0,30003,3985,3438,4647,4448,4423,5604,7603,1613
2007,124072,24615,8677,5330,7854,2925,3449,2581,0,29964,3818,3558,4703,4417,4240,5571,7493,1561
2008,116535,23319,7908,5005,7414,2836,3236,2295,0,28379,3394,3354,4472,3784,4021,5287,6981,1238
2009,123999,23920,8550,5361,7880,3076,3433,2591,0,29807,3742,3738,5178,4285,4290,5523,7476,1469
2010,116858,21768,7645,5107,7354,3002,3189,2597,0,27810,3579,3554,4756,3910,4326,5476,7503,1466
2011,114284,20617,7514,4658,6840,2857,3067,2380,0,28444,3562,3675,4819,4176,4138,5322,7207,1395
2012,114316,20177,7501,4947,7306,2923,2938,2590,223,28452,3550,3424,4685,3856,4011,5562,7427,1426
2013,115292,20126,7444,4796,7253,2924,3003,2578,240,28733,3725,3732,4820,4144,4096,5410,7547,1440
2014,115510,19477,7345,4794,7417,3051,3221,2731,280,28892,3630,3671,4915,4091,4135,5503,7602,1530
2015,109153,18176,6649,4497,7116,2842,2999,2406,324,27688,3484,3486,4724,3755,4033,5348,7368,1447
2016,107328,17777,6859,4383,7097,2817,2890,2520,343,26723,3482,3446,4682,3979,3965,5375,7486,1552
2017,106032,17083,6651,4380,6988,2694,2855,2519,465,26924,3263,3461,4835,3698,4008,5505,7355,1530
2018,108684,16940,6678,4530,7011,2887,3008,2658,485,27884,3418,3543,4842,3934,4170,5620,7575,1607
2019,110831,16972,6787,4655,7176,2915,3097,2534,606,28453,3624,3699,5202,4007,4130,5635,7827,1716
2020,106500,16282,6497,4345,6931,2604,3009,2460,601,27983,3358,3492,5003,3763,3907,5553,7368,1744
2021,101673,14967,6248,4111,6740,2572,2754,2425,624,27256,3161,3256,4798,3748,3776,5097,7034,1490

In [16]:
divorce.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     int64
 1   서울특별시    16 non-null     int64
 2   부산광역시    16 non-null     int64
 3   대구광역시    16 non-null     int64
 4   인천광역시    16 non-null     int64
 5   광주광역시    16 non-null     int64
 6   대전광역시    16 non-null     int64
 7   울산광역시    16 non-null     int64
 8   세종특별자치시  16 non-null     int64
 9   경기도      16 non-null     int64
 10  강원도      16 non-null     int64
 11  충청북도     16 non-null     int64
 12  충청남도     16 non-null     int64
 13  전라북도     16 non-null     int64
 14  전라남도     16 non-null     int64
 15  경상북도     16 non-null     int64
 16  경상남도     16 non-null     int64
 17  제주특별자치도  16 non-null     int64
dtypes: int64(18)
memory usage: 2.4 KB

In [424]:
divorce.to_excel(path+'/이혼건수/시군구_이혼건수최종.xlsx')

In [17]:
# 실업률,고용율 데이터 불러오기
emp = pd.read_excel(path+'/실업률,고용율/시도성별_경제활동인구.xlsx')
emp

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,성별,계,계.1,서울특별시,서울특별시.1,부산광역시,부산광역시.1,대구광역시,대구광역시.1,...,전라북도,전라북도.1,전라남도,전라남도.1,경상북도,경상북도.1,경상남도,경상남도.1,제주도,제주도.1
0,시점,성별,실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),...,실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%),실업률 (%),고용률 (%)
1,2006,여자,3,49,4.1,50.3,3.2,46,2.9,48.6,...,1.5,49,1.3,54,1.9,53.2,2.1,49.6,1.8,62.8
2,2007,여자,2.7,49.1,3.3,50.5,3.4,46.3,3.2,47.6,...,1.7,49.3,1.3,54.6,1.9,52.3,1.6,49.5,1.7,62.3
3,2008,여자,2.6,48.9,3.3,49.9,3.3,45.7,3,46.2,...,1.9,48.6,1.4,54.8,1.5,51.9,1.6,50.4,1.7,60.1
4,2009,여자,3,47.8,3.5,48.5,3.5,44.4,3.8,46,...,1.6,48.4,1.3,54.5,2.3,51.6,2.7,49,1.3,59.8
5,2010,여자,3.3,47.9,3.8,49.6,2.9,44.5,3.8,47.5,...,1.9,46.6,2.2,52.5,2.7,52.1,2.5,48.3,2,57.3
6,2011,여자,3.1,48.3,3.9,50.4,3,44.3,2.7,47.4,...,2,47.1,1.8,52.8,2.2,51.7,2.2,49.2,1.2,58.4
7,2012,여자,3,48.6,3.7,50.5,3,46.2,2.8,49.1,...,1.7,46.8,1.6,53.4,2.3,52.3,2,47.4,1.4,59.9
8,2013,여자,2.8,48.9,3.6,50.6,3.1,46.1,2.9,48.7,...,1.8,47.4,1.8,53,2.9,51.6,1.9,48.4,1.7,59
9,2014,여자,3.5,49.7,4.4,51.1,3,46.4,4.2,48.7,...,2.4,47.2,2.4,52.7,2.8,52.3,2.2,49,2.2,59.8
10,2015,여자,3.5,50.1,4.1,50.7,3.9,46.6,3.5,49.2,...,2.1,48.9,1.9,53.4,2.8,51.1,2.8,49.1,1.5,61.2
11,2016,여자,3.6,50.3,4.2,50.9,3.5,46.9,3.9,49.7,...,1.6,50.2,1.9,54.2,3.2,51.2,3,48.9,1.7,62.8
12,2017,여자,3.5,50.8,4.3,51.7,4.8,46.7,3.8,50.5,...,2.2,48.8,2.9,53.6,2.9,51.3,2.4,49.3,1.7,65
13,2018,여자,3.7,50.9,4.6,51.6,3.7,46.8,3.8,50.3,...,2.2,48.5,2.5,53.8,4.2,50.9,2.9,49.6,2.3,61.2
14,2019,여자,3.6,51.6,4.1,52.2,3.7,48.7,3.5,48.8,...,2.2,50.4,2.4,54.8,3.3,51.2,3.7,50.5,2,61.6
15,2020,여자,4,50.7,4.9,51.6,4,47.6,3.9,46.8,...,2.4,51.1,2.4,55.1,3.9,50.5,3.9,50.4,2.4,62
16,2021,여자,3.8,51.2,5,51.8,3.3,47.9,3.8,48.9,...,2.3,52.6,2.3,56.1,2.8,50.3,4,51,3.6,61.5

In [18]:
# 시점 인덱스 설정
emp.set_index('시점',inplace=True)
# 시점 행 탈락
emp.drop('시점',axis=0,inplace=True)
# 열 재설정
emp = emp[['계.1','서울특별시.1','부산광역시.1','대구광역시.1','인천광역시.1','광주광역시.1','대전광역시.1','울산광역시.1','세종특별자치시.1','경기도.1','강원도.1','충청북도.1','충청남도.1','전라북도.1','전라남도.1','경상북도.1','경상남도.1','제주도.1']]
emp = emp.rename(columns={'계.1':'전국', '서울특별시.1':'서울특별시','부산광역시.1':'부산광역시','대구광역시.1':'대구광역시', '인천광역시.1':'인천광역시', '광주광역시.1':'광주광역시', '대전광역시.1':'대전광역시', '울산광역시.1':'울산광역시',
                          '세종특별자치시.1':'세종특별자치시', '경기도.1':'경기도', '강원도.1':'강원도', '충청북도.1':'충청북도', '충청남도.1':'충청남도', '전라북도.1':'전라북도', '전라남도.1':'전라남도', '경상북도.1':'경상북도',
                          '경상남도.1':'경상남도', '제주도.1':'제주특별자치시'})
# index int로 설정
emp.index = emp.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
emp = emp.replace('-',0)
# 모든 값 자료형 변경
emp = emp.apply(pd.to_numeric)
emp

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치시
시점,,,,,,,,,,,,,,,,,,
2006,49.0,50.3,46.0,48.6,46.4,46.9,45.2,40.6,0.0,47.7,48.5,48.3,52.9,49.0,54.0,53.2,49.6,62.8
2007,49.1,50.5,46.3,47.6,47.2,47.5,45.9,42.5,0.0,47.9,47.2,48.1,53.5,49.3,54.6,52.3,49.5,62.3
2008,48.9,49.9,45.7,46.2,46.8,46.6,46.1,45.5,0.0,48.3,47.8,48.0,51.1,48.6,54.8,51.9,50.4,60.1
2009,47.8,48.5,44.4,46.0,47.6,46.2,45.9,43.7,0.0,46.2,47.8,49.4,48.9,48.4,54.5,51.6,49.0,59.8
2010,47.9,49.6,44.5,47.5,47.6,48.1,45.1,44.5,0.0,45.9,46.9,49.5,49.1,46.6,52.5,52.1,48.3,57.3
2011,48.3,50.4,44.3,47.4,48.8,47.4,45.8,45.0,0.0,46.2,46.6,49.8,48.9,47.1,52.8,51.7,49.2,58.4
2012,48.6,50.5,46.2,49.1,50.5,46.1,46.5,43.1,0.0,46.6,47.3,49.2,49.6,46.8,53.4,52.3,47.4,59.9
2013,48.9,50.6,46.1,48.7,50.5,47.9,46.5,41.3,0.0,47.7,46.8,49.8,50.3,47.4,53.0,51.6,48.4,59.0
2014,49.7,51.1,46.4,48.7,50.6,49.0,48.2,40.2,0.0,49.5,47.7,52.1,50.3,47.2,52.7,52.3,49.0,59.8
2015,50.1,50.7,46.6,49.2,50.6,48.2,49.7,42.2,0.0,50.3,50.0,52.9,50.4,48.9,53.4,51.1,49.1,61.2
2016,50.3,50.9,46.9,49.7,51.1,48.0,50.6,44.0,0.0,50.3,50.6,53.2,49.1,50.2,54.2,51.2,48.9,62.8
2017,50.8,51.7,46.7,50.5,51.2,50.3,49.4,46.0,49.1,50.9,53.3,53.3,50.3,48.8,53.6,51.3,49.3,65.0
2018,50.9,51.6,46.8,50.3,53.0,51.0,49.9,46.3,49.7,50.8,53.1,52.6,52.6,48.5,53.8,50.9,49.6,61.2
2019,51.6,52.2,48.7,48.8,53.3,50.5,50.5,46.8,51.4,51.3,54.9,53.5,52.9,50.4,54.8,51.2,50.5,61.6
2020,50.7,51.6,47.6,46.8,52.0,50.8,51.7,44.7,51.6,49.3,53.5,54.3,52.0,51.1,55.1,50.5,50.4,62.0
2021,51.2,51.8,47.9,48.9,51.7,49.8,51.8,45.7,51.3,50.4,55.2,54.5,52.8,52.6,56.1,50.3,51.0,61.5

In [19]:
emp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치시  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [425]:
emp.to_excel(path+'/실업률,고용율/여성고용율최종.xlsx')

In [20]:
# 실업률 df생성
unemp = pd.read_excel(path+'/실업률,고용율/시도성별실업률.xlsx')
unemp

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,시점,성별,계,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주도
0,2006,여자,3.0,4.1,3.2,2.9,3.5,3.2,4.3,3.1,-,3.1,0.8,1.8,2.4,1.5,1.3,1.9,2.1,1.8
1,2007,여자,2.7,3.3,3.4,3.2,3.7,2.9,3.4,2.8,-,2.5,1.4,1.9,2.3,1.7,1.3,1.9,1.6,1.7
2,2008,여자,2.6,3.3,3.3,3.0,3.5,2.9,3.0,3.2,-,2.5,1.3,2.2,2.4,1.9,1.4,1.5,1.6,1.7
3,2009,여자,3.0,3.5,3.5,3.8,3.9,3.4,2.7,4.2,-,3.2,1.8,1.6,2.4,1.6,1.3,2.3,2.7,1.3
4,2010,여자,3.3,3.8,2.9,3.8,5.0,3.1,4.0,3.1,-,3.8,2.0,2.1,2.6,1.9,2.2,2.7,2.5,2.0
5,2011,여자,3.1,3.9,3.0,2.7,4.6,2.6,4.6,2.4,-,3.4,2.1,2.6,2.3,2.0,1.8,2.2,2.2,1.2
6,2012,여자,3.0,3.7,3.0,2.8,4.5,2.3,3.8,3.2,-,3.1,2.5,1.6,2.4,1.7,1.6,2.3,2.0,1.4
7,2013,여자,2.8,3.6,3.1,2.9,3.8,2.1,2.7,2.3,-,2.8,2.4,1.9,2.5,1.8,1.8,2.9,1.9,1.7
8,2014,여자,3.5,4.4,3.0,4.2,5.1,2.4,3.1,2.7,-,3.4,3.1,3.1,3.6,2.4,2.4,2.8,2.2,2.2
9,2015,여자,3.5,4.1,3.9,3.5,4.8,3.0,3.0,3.2,-,3.9,2.9,2.6,3.7,2.1,1.9,2.8,2.8,1.5
10,2016,여자,3.6,4.2,3.5,3.9,4.5,2.9,3.2,2.9,-,4.1,2.8,2.9,3.4,1.6,1.9,3.2,3.0,1.7
11,2017,여자,3.5,4.3,4.8,3.8,3.8,2.4,3.3,3.0,2.4,3.8,2.9,2.4,2.9,2.2,2.9,2.9,2.4,1.7
12,2018,여자,3.7,4.6,3.7,3.8,4.2,3.4,4.1,4.1,3.1,3.7,2.9,2.8,3.2,2.2,2.5,4.2,2.9,2.3
13,2019,여자,3.6,4.1,3.7,3.5,4.3,3.9,3.9,3.7,3.1,3.6,3.7,2.7,3.2,2.2,2.4,3.3,3.7,2.0
14,2020,여자,4.0,4.9,4.0,3.9,4.7,3.7,4.4,4.5,3,3.9,4.4,3.0,3.8,2.4,2.4,3.9,3.9,2.4
15,2021,여자,3.8,5.0,3.3,3.8,3.8,3.7,3.5,3.9,2.4,4.0,4.0,2.4,2.2,2.3,2.3,2.8,4.0,3.6

In [21]:
# 시점 인덱스 설정
unemp.set_index('시점',inplace=True)
# 성별 열 탈락
unemp.drop(columns='성별', inplace=True)
# 열 재설정
unemp = unemp.rename(columns={'계':'전국',  '제주도':'제주특별자치시'})
# index int로 설정
unemp.index = unemp.index.astype(int)
# 세종시 결측치 -를 0값으로 변경
unemp = unemp.replace('-',0)
# 모든 값 자료형 변경
unemp = unemp.apply(pd.to_numeric)
unemp

,전국,서울특별시,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치시
시점,,,,,,,,,,,,,,,,,,
2006,3.0,4.1,3.2,2.9,3.5,3.2,4.3,3.1,0.0,3.1,0.8,1.8,2.4,1.5,1.3,1.9,2.1,1.8
2007,2.7,3.3,3.4,3.2,3.7,2.9,3.4,2.8,0.0,2.5,1.4,1.9,2.3,1.7,1.3,1.9,1.6,1.7
2008,2.6,3.3,3.3,3.0,3.5,2.9,3.0,3.2,0.0,2.5,1.3,2.2,2.4,1.9,1.4,1.5,1.6,1.7
2009,3.0,3.5,3.5,3.8,3.9,3.4,2.7,4.2,0.0,3.2,1.8,1.6,2.4,1.6,1.3,2.3,2.7,1.3
2010,3.3,3.8,2.9,3.8,5.0,3.1,4.0,3.1,0.0,3.8,2.0,2.1,2.6,1.9,2.2,2.7,2.5,2.0
2011,3.1,3.9,3.0,2.7,4.6,2.6,4.6,2.4,0.0,3.4,2.1,2.6,2.3,2.0,1.8,2.2,2.2,1.2
2012,3.0,3.7,3.0,2.8,4.5,2.3,3.8,3.2,0.0,3.1,2.5,1.6,2.4,1.7,1.6,2.3,2.0,1.4
2013,2.8,3.6,3.1,2.9,3.8,2.1,2.7,2.3,0.0,2.8,2.4,1.9,2.5,1.8,1.8,2.9,1.9,1.7
2014,3.5,4.4,3.0,4.2,5.1,2.4,3.1,2.7,0.0,3.4,3.1,3.1,3.6,2.4,2.4,2.8,2.2,2.2
2015,3.5,4.1,3.9,3.5,4.8,3.0,3.0,3.2,0.0,3.9,2.9,2.6,3.7,2.1,1.9,2.8,2.8,1.5
2016,3.6,4.2,3.5,3.9,4.5,2.9,3.2,2.9,0.0,4.1,2.8,2.9,3.4,1.6,1.9,3.2,3.0,1.7
2017,3.5,4.3,4.8,3.8,3.8,2.4,3.3,3.0,2.4,3.8,2.9,2.4,2.9,2.2,2.9,2.9,2.4,1.7
2018,3.7,4.6,3.7,3.8,4.2,3.4,4.1,4.1,3.1,3.7,2.9,2.8,3.2,2.2,2.5,4.2,2.9,2.3
2019,3.6,4.1,3.7,3.5,4.3,3.9,3.9,3.7,3.1,3.6,3.7,2.7,3.2,2.2,2.4,3.3,3.7,2.0
2020,4.0,4.9,4.0,3.9,4.7,3.7,4.4,4.5,3.0,3.9,4.4,3.0,3.8,2.4,2.4,3.9,3.9,2.4
2021,3.8,5.0,3.3,3.8,3.8,3.7,3.5,3.9,2.4,4.0,4.0,2.4,2.2,2.3,2.3,2.8,4.0,3.6

In [22]:
unemp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 2006 to 2021
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   전국       16 non-null     float64
 1   서울특별시    16 non-null     float64
 2   부산광역시    16 non-null     float64
 3   대구광역시    16 non-null     float64
 4   인천광역시    16 non-null     float64
 5   광주광역시    16 non-null     float64
 6   대전광역시    16 non-null     float64
 7   울산광역시    16 non-null     float64
 8   세종특별자치시  16 non-null     float64
 9   경기도      16 non-null     float64
 10  강원도      16 non-null     float64
 11  충청북도     16 non-null     float64
 12  충청남도     16 non-null     float64
 13  전라북도     16 non-null     float64
 14  전라남도     16 non-null     float64
 15  경상북도     16 non-null     float64
 16  경상남도     16 non-null     float64
 17  제주특별자치시  16 non-null     float64
dtypes: float64(18)
memory usage: 2.4 KB

In [426]:
unemp.to_excel(path+'/실업률,고용율/실업률최종.xlsx')

In [24]:
pd.set_option('display.max_columns',None)

In [258]:
# 대졸 이상 여성 인구 불러오기
# 교육정도 df생성
df_10 = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별경제활동인구_2010.xlsx')
df_10_ = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별비경제활동인구_2010.xlsx')
df_12 = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별경제활동인구_2012.xlsx')
df_12_ = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별비경제활동인구_2012.xlsx')
df_21 = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별경제활동인구_2021.xlsx')
df_21_ = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별비경제활동인구_2021.xlsx')
df_10_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 70 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   시점         4 non-null      object
 1   성별         4 non-null      object
 2   계          4 non-null      object
 3   계.1        4 non-null      object
 4   계.2        4 non-null      object
 5   계.3        4 non-null      object
 6   서울특별시      4 non-null      object
 7   서울특별시.1    4 non-null      object
 8   서울특별시.2    4 non-null      object
 9   서울특별시.3    4 non-null      object
 10  부산광역시      4 non-null      object
 11  부산광역시.1    4 non-null      object
 12  부산광역시.2    4 non-null      object
 13  부산광역시.3    4 non-null      object
 14  대구광역시      4 non-null      object
 15  대구광역시.1    4 non-null      object
 16  대구광역시.2    4 non-null      object
 17  대구광역시.3    4 non-null      object
 18  인천광역시      4 non-null      object
 19  인천광역시.1    4 non-null      object
 20  인천광역시.2    4 non-null      object
 21  인천광역시.3    4 non-null      object
 22  광주광역시      4 non-null      object
 23  광주광역시.1    4 non-null      object
 24  광주광역시.2    4 non-null      object
 25  광주광역시.3    4 non-null      object
 26  대전광역시      4 non-null      object
 27  대전광역시.1    4 non-null      object
 28  대전광역시.2    4 non-null      object
 29  대전광역시.3    4 non-null      object
 30  울산광역시      4 non-null      object
 31  울산광역시.1    4 non-null      object
 32  울산광역시.2    4 non-null      object
 33  울산광역시.3    4 non-null      object
 34  경기도        4 non-null      object
 35  경기도.1      4 non-null      object
 36  경기도.2      4 non-null      object
 37  경기도.3      4 non-null      object
 38  강원도        4 non-null      object
 39  강원도.1      4 non-null      object
 40  강원도.2      4 non-null      object
 41  강원도.3      4 non-null      object
 42  충청북도       4 non-null      object
 43  충청북도.1     4 non-null      object
 44  충청북도.2     4 non-null      object
 45  충청북도.3     4 non-null      object
 46  충청남도       4 non-null      object
 47  충청남도.1     4 non-null      object
 48  충청남도.2     4 non-null      object
 49  충청남도.3     4 non-null      object
 50  전라북도       4 non-null      object
 51  전라북도.1     4 non-null      object
 52  전라북도.2     4 non-null      object
 53  전라북도.3     4 non-null      object
 54  전라남도       4 non-null      object
 55  전라남도.1     4 non-null      object
 56  전라남도.2     4 non-null      object
 57  전라남도.3     4 non-null      object
 58  경상북도       4 non-null      object
 59  경상북도.1     4 non-null      object
 60  경상북도.2     4 non-null      object
 61  경상북도.3     4 non-null      object
 62  경상남도       4 non-null      object
 63  경상남도.1     4 non-null      object
 64  경상남도.2     4 non-null      object
 65  경상남도.3     4 non-null      object
 66  제주특별자치도    4 non-null      object
 67  제주특별자치도.1  4 non-null      object
 68  제주특별자치도.2  4 non-null      object
 69  제주특별자치도.3  4 non-null      object
dtypes: object(70)
memory usage: 2.3+ KB

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [259]:
# 경제활동인구 2010년 전처리
# 시점 인덱스 설정
df_10.set_index('시점',inplace=True)
#df_10.index = df_10.index.astype(np,int)
# 성별 열 탈락
df_10.drop(columns='성별',inplace=True)
# 시점 행 탈락
df_10.drop('시점',axis=0,inplace=True)
# 계를 전국으로 바꾸기
df_10 = df_10.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list_:
    for j in range(1,3):
        df_10[i] = df_10[i]+df_10[i+'.'+str(j)]
        df_10.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_10 = df_10.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_10 = df_10.apply(pd.to_numeric)
df_10.index = df_10.index.astype('int')
df_10

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008,7352.9,3376.7,1712.2,948.3,501.4,255.9,373.5,180.4,414.1,153.8,228.5,118.2,227.2,120.0,154.0,65.6,1743.5,756.0,198.6,82.1,213.4,75.3,264.5,88.2,225.2,94.8,220.7,87.0,368.2,138.9,420.3,166.2,87.7,45.9
2009,7179.6,3466.2,1647.3,935.9,480.2,263.5,393.8,195.3,417.2,157.7,221.5,122.3,215.6,120.5,145.9,62.9,1667.4,785.2,195.7,79.6,218.4,83.9,273.6,101.7,222.1,100.4,212.1,82.3,351.8,138.3,432.3,191.6,85.0,45.1
2010,7210.4,3571.7,1668.7,940.2,469.6,256.5,380.9,205.3,406.8,169.9,231.2,122.8,218.1,122.9,146.8,65.1,1721.8,848.2,192.3,85.6,213.9,88.0,282.3,112.1,215.8,102.0,203.6,85.6,342.4,133.0,434.4,193.6,81.6,41.0

In [260]:
# 비경제활동인구 2010년 전처리
# 시점 인덱스 설정
df_10_.set_index('시점',inplace=True)
#df_10_.index = df_10_.index.astype(np,int)
# 성별 열 탈락
df_10_.drop(columns='성별',inplace=True)
# 시점 행 탈락
df_10_.drop('시점',axis=0,inplace=True)
# 계를 전국으로 바꾸기
df_10_ = df_10_.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list_:
    for j in range(1,3):
        df_10_[i] = df_10_[i]+df_10_[i+'.'+str(j)]
        df_10_.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_10_ = df_10_.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_10_ = df_10_.apply(pd.to_numeric)
df_10_.index = df_10.index.astype('int')
df_10_

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008,5942.6,1860.3,1227.7,519.2,445.5,142.1,315.3,103.3,349.0,77.5,190.4,57.0,203.5,65.4,149.2,32.2,1457.2,495.9,157.8,35.7,169.7,40.2,218.0,42.9,204.0,48.9,164.3,33.1,263.4,63.2,377.4,89.7,50.4,13.8
2009,6047.7,1994.5,1276.2,569.6,443.2,145.6,284.8,93.3,340.6,84.8,194.6,63.2,212.9,72.7,153.7,37.1,1544.0,536.1,155.8,36.3,163.4,39.9,213.2,45.3,202.3,53.5,167.6,37.9,273.6,70.7,369.4,95.1,52.1,13.3
2010,5931.0,1941.5,1211.5,521.7,437.8,142.7,285.0,96.2,346.4,81.1,186.4,67.0,207.4,67.6,149.0,41.6,1504.5,527.8,156.4,36.5,164.7,41.0,211.9,47.0,210.7,58.1,172.2,37.9,268.8,64.6,363.8,95.1,54.5,15.5

In [261]:
# 지역리스트 재설정
region_list_ = region_list.copy()
region_list_.remove('세종특별자치시')
region_list_

['전국',
 '서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [262]:
# 경제활동인구 2012년 전처리
# 시점 인덱스 설정
df_12.set_index('시점',inplace=True)
# 성별 열 탈락
df_12.drop(columns='성별',inplace=True)
# 시점,2010.4/4 행 탈락
df_12.drop(['시점','2010.4/4','2011.2/4','2011.3/4','2011.4/4','2012.2/4','2012.3/4','2012.4/4'],axis=0,inplace=True)
# 계를 전국으로 바꾸기
df_12 = df_12.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list_:
    for j in range(1,3):
        df_12[i] = df_12[i]+df_12[i+'.'+str(j)]
        df_12.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_12 = df_12.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_12 = df_12.apply(pd.to_numeric)
# 인덱스 변경
df_12.reset_index(inplace=True)
df_12['시점']=df_12['시점'].apply(lambda x : x.split('.')[0])
df_12.set_index('시점',inplace=True)
df_12.index = df_12.index.astype('int')
df_12

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011,7163.7,3700.2,1669.8,1004.5,462.5,242.4,369.6,203.9,413.8,172.7,219.1,126.7,221.3,123.0,148.7,67.2,1721.4,876.5,179.2,82.6,211.7,93.6,269.7,109.2,215.9,108.4,205.6,91.6,334.6,145.9,438.6,205.5,82.2,46.3
2012,7152.8,4015.2,1663.1,1081.9,476.9,275.8,362.3,222.3,437.4,204.6,227.7,132.7,216.6,132.8,148.2,73.9,1702.0,949.9,186.2,94.7,206.0,91.5,271.1,118.7,212.2,119.7,199.5,97.3,341.1,158.4,414.8,208.3,87.9,52.7

In [263]:
df_12_ = pd.read_excel(path+'/대졸이상여성인구/시도연령교육정도별비경제활동인구_2012.xlsx')

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [264]:
# 경제활동인구 2012년 전처리
# 시점 인덱스 설정
df_12_.set_index('시점',inplace=True)
# 성별 열 탈락
df_12_.drop(columns='성별',inplace=True)
# 시점,2010.4/4 행 탈락
df_12_.drop(['시점','2010.4/4','2011.2/4','2011.3/4','2011.4/4','2012.2/4','2012.3/4','2012.4/4'],axis=0,inplace=True)
# 계를 전국으로 바꾸기
df_12_ = df_12_.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list_:
    for j in range(1,3):
        df_12_[i] = df_12_[i]+df_12_[i+'.'+str(j)]
        df_12_.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_12_ = df_12_.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_12_ = df_12_.apply(pd.to_numeric)
# 인덱스 변경
df_12_.reset_index(inplace=True)
df_12_['시점']=df_12_['시점'].apply(lambda x : x.split('.')[0])
df_12_.set_index('시점',inplace=True)
df_12_.index = df_12_.index.astype('int')
df_12_

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2011,5935.3,2145.2,1185.9,555.4,431.7,164.3,293.7,111.7,338.5,87.7,196.3,74.1,200.4,68.9,147.6,44.5,1510.2,581.0,165.0,45.3,166.4,47.2,229.2,55.9,212.2,59.4,170.5,44.3,276.9,80.1,356.0,104.9,54.7,20.5
2012,5869.2,2297.8,1153.8,581.7,399.3,157.8,290.6,127.9,315.1,94.8,185.5,69.5,204.6,80.0,148.5,51.1,1542.4,633.7,159.6,45.9,174.1,47.9,228.8,65.9,208.4,66.4,175.2,45.7,258.8,79.2,375.0,131.8,49.4,18.5

In [265]:
# 0부터 18까지 짝수 행 탈락 
df_21.drop(range(0,19,2),axis=0,inplace=True)
# 세종시 결측치 0으로 변경
df_21['세종특별자치시'] = df_21['세종특별자치시'].apply(lambda x: 0 if x == '-' else x)
df_21['세종특별자치시.1'] = df_21['세종특별자치시.1'].apply(lambda x: 0 if x == '-' else x)
df_21['세종특별자치시.2'] = df_21['세종특별자치시.2'].apply(lambda x: 0 if x == '-' else x)
df_21['세종특별자치시.3'] = df_21['세종특별자치시.3'].apply(lambda x: 0 if x == '-' else x)
# 시점 값 변경
df_21['시점'] = df_21['시점'].apply(lambda x: x.split('.')[0])
# 시점 인덱스 설정
df_21.set_index('시점',inplace=True)
# 성별 열 탈락
df_21.drop(columns='성별',inplace=True)
# 계를 전국으로 바꾸기
df_21 = df_21.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list:
    for j in range(1,3):
        df_21[i] = df_21[i]+df_21[i+'.'+str(j)]
        df_21.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_21 = df_21.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_21= df_21.apply(pd.to_numeric)
df_21.index = df_21.index.astype('int')
df_21

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,세종특별자치시,세종대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013,7113,4249,1657,1161,456,270,350,224,425,214,218,148,219,142,140,83,0,0,1723,999,188,94,204,96,278,131,211,129,206,106,335,177,419,224,84,52
2014,7296,4582,1632,1211,458,302,351,231,431,228,228,156,225,155,140,81,0,0,1854,1124,181,104,215,102,278,138,215,142,215,112,340,186,443,256,91,55
2015,7279,4673,1602,1186,461,315,357,255,422,240,213,150,225,165,141,85,0,0,1895,1170,187,106,215,108,296,164,227,142,204,108,333,192,416,234,87,56
2016,7316,4864,1584,1223,474,326,361,260,440,246,208,153,229,174,143,89,0,0,1914,1224,194,116,220,119,293,165,224,148,201,112,324,189,417,255,96,65
2017,7378,5141,1613,1288,482,338,351,273,431,252,214,163,225,168,149,94,37,29,1926,1316,193,122,227,129,266,154,222,153,201,122,316,194,426,272,104,76
2018,7322,5349,1613,1333,459,357,352,276,444,292,224,176,226,181,148,97,43,35,1901,1346,192,123,217,134,278,171,208,155,198,128,317,198,405,271,98,78
2019,7228,5524,1587,1351,456,367,328,267,439,291,215,181,211,174,143,101,48,43,1895,1408,190,132,221,148,271,178,218,161,193,137,303,209,417,294,96,83
2020,6833,5447,1551,1371,426,359,276,249,410,274,208,174,210,172,126,91,54,49,1795,1418,176,137,208,138,270,173,183,146,194,137,273,204,382,274,94,82
2021,6955,5650,1597,1425,403,353,311,282,414,288,205,174,216,182,125,98,56,52,1863,1454,179,141,205,140,260,173,200,160,178,131,260,213,385,295,102,91

In [266]:
# 0부터 18까지 짝수 행 탈락 
df_21_.drop(range(0,19,2),axis=0,inplace=True)
# 세종시 결측치 0으로 변경
df_21_['세종특별자치시'] = df_21_['세종특별자치시'].apply(lambda x: 0 if x == '-' else x)
df_21_['세종특별자치시.1'] = df_21_['세종특별자치시.1'].apply(lambda x: 0 if x == '-' else x)
df_21_['세종특별자치시.2'] = df_21_['세종특별자치시.2'].apply(lambda x: 0 if x == '-' else x)
df_21_['세종특별자치시.3'] = df_21_['세종특별자치시.3'].apply(lambda x: 0 if x == '-' else x)
# 시점 값 변경
df_21_['시점'] = df_21_['시점'].apply(lambda x: x.split('.')[0])
# 시점 인덱스 설정
df_21_.set_index('시점',inplace=True)
# 성별 열 탈락
df_21_.drop(columns='성별',inplace=True)
# 계를 전국으로 바꾸기
df_21_ = df_21_.rename(columns={'계':'전국','계.1':'전국.1',"계.2":'전국.2','계.3':'전국.3'}) # 기본이 15~29, .3이 대졸이상
# 15세~49세 여성의 수 합치기
for i in region_list:
    for j in range(1,3):
        df_21_[i] = df_21_[i]+df_21_[i+'.'+str(j)]
        df_21_.drop(columns=[i+'.'+str(j)],inplace=True)
# 대졸이상인수 컬럼 재설정
df_21_ = df_21_.rename(columns={'전국.3':'전국대졸이상','서울특별시.3':'서울대졸이상','부산광역시.3':'부산대졸이상','대구광역시.3':'대구대졸이상', '인천광역시.3':'인천대졸이상', '광주광역시.3':'광주대졸이상', '대전광역시.3':'대전대졸이상', '울산광역시.3':'울산대졸이상',
                          '세종특별자치시.3':'세종대졸이상', '경기도.3':'경기도대졸이상', '강원도.3':'강원대졸이상', '충청북도.3':'충북대졸이상', '충청남도.3':'충남대졸이상', '전라북도.3':'전북대졸이상', '전라남도.3':'전남대졸이상', '경상북도.3':'경북대졸이상',
                          '경상남도.3':'경남대졸이상', '제주특별자치도.3':'제주대졸이상'})
# 자료형 변경
df_21_= df_21_.apply(pd.to_numeric)
df_21_.index = df_21_.index.astype('int')
df_21_

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,세종특별자치시,세종대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2013,5804,2376,1102,590,394,164,290,122,329,102,192,76,199,87,157,56,0,0,1532,655,156,52,172,48,225,71,208,68,165,43,267,89,364,132,54,21
2014,5563,2365,1090,602,380,162,281,130,321,115,180,66,189,83,158,62,0,0,1413,636,152,50,161,45,239,77,202,64,155,44,255,87,339,120,50,21
2015,5491,2486,1095,643,363,168,265,124,320,123,189,80,185,83,157,66,0,0,1362,650,146,52,160,45,231,73,190,65,158,50,255,93,359,145,56,25
2016,5347,2518,1050,649,344,164,250,125,296,119,188,80,172,83,149,63,0,0,1335,656,141,52,159,50,253,82,185,67,161,54,253,95,363,156,51,23
2017,5147,2509,990,624,320,161,246,122,298,125,170,79,172,90,137,62,33,20,1313,676,130,51,147,50,220,72,184,67,162,53,247,95,338,146,45,18
2018,5027,2623,938,639,326,192,238,126,277,114,161,75,157,80,124,53,37,22,1337,732,129,55,148,60,205,75,181,76,152,58,236,97,334,147,52,24
2019,4921,2628,919,638,304,181,241,133,274,115,159,79,159,80,119,56,40,23,1343,733,123,54,137,54,206,86,164,72,147,57,230,98,299,140,56,30
2020,5128,2825,934,653,314,185,273,156,283,127,162,86,152,80,127,61,41,23,1424,803,129,58,145,67,205,88,184,80,139,60,248,114,314,152,59,34
2021,4807,2780,854,656,302,186,225,137,266,119,157,83,143,82,120,64,42,25,1363,817,118,55,139,61,207,87,158,68,136,62,241,114,293,138,47,26

In [365]:
# 데이터 프레임 합친 후 전처리 2008~2010
edu_10 = pd.concat([df_10,df_10_])
edu_10 = pd.concat([df_10, df_10_])
edu_10.loc[2008.2] = edu_10.loc[2008].apply(func=sum,axis=0)
edu_10.loc[2009.2] = edu_10.loc[2009].apply(func=sum,axis=0)
edu_10.loc[2010.2] = edu_10.loc[2010].apply(func=sum,axis=0)
edu_10.drop(index=[2008.0, 2009.0, 2010.0], inplace=True)
edu_10.index = edu_10.index.astype('int')
# 2011~2012
edu_12 = pd.concat([df_12, df_12_])
edu_12.loc[2011.2] = edu_12.loc[2011].apply(func=sum,axis=0)
edu_12.loc[2012.2] = edu_12.loc[2012].apply(func=sum,axis=0)
edu_12.drop(index=[2011.0, 2012.0], inplace=True)
edu_12.index = edu_12.index.astype('int')
# 2013~2021
edu_21 = pd.concat([df_21, df_21_])
edu_21.loc[2013.2] = edu_21.loc[2013].apply(func=sum,axis=0)
edu_21.loc[2014.2] = edu_21.loc[2014].apply(func=sum,axis=0)
edu_21.loc[2015.2] = edu_21.loc[2015].apply(func=sum,axis=0)
edu_21.loc[2016.2] = edu_21.loc[2016].apply(func=sum,axis=0)
edu_21.loc[2017.2] = edu_21.loc[2017].apply(func=sum,axis=0)
edu_21.loc[2018.2] = edu_21.loc[2018].apply(func=sum,axis=0)
edu_21.loc[2019.2] = edu_21.loc[2019].apply(func=sum,axis=0)
edu_21.loc[2020.2] = edu_21.loc[2020].apply(func=sum,axis=0)
edu_21.loc[2021.2] = edu_21.loc[2021].apply(func=sum,axis=0)
edu_21.drop(index=[2013.0, 2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0], inplace=True)
edu_21.index = edu_21.index.astype('int')
# 2008~2012
edu_1012=pd.concat([edu_10,edu_12])
# 2008~2021
edu = pd.concat([edu_1012,edu_21],join='outer')
edu = edu.fillna(0)
edu = edu.apply(pd.to_numeric)
edu

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상,세종특별자치시,세종대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2008,13295.5,5237.0,2939.9,1467.5,946.9,398.0,688.8,283.7,763.1,231.3,418.9,175.2,430.7,185.4,303.2,97.8,3200.7,1251.9,356.4,117.8,383.1,115.5,482.5,131.1,429.2,143.7,385.0,120.1,631.6,202.1,797.7,255.9,138.1,59.7,0.0,0.0
2009,13227.3,5460.7,2923.5,1505.5,923.4,409.1,678.6,288.6,757.8,242.5,416.1,185.5,428.5,193.2,299.6,100.0,3211.4,1321.3,351.5,115.9,381.8,123.8,486.8,147.0,424.4,153.9,379.7,120.2,625.4,209.0,801.7,286.7,137.1,58.4,0.0,0.0
2010,13141.4,5513.2,2880.2,1461.9,907.4,399.2,665.9,301.5,753.2,251.0,417.6,189.8,425.5,190.5,295.8,106.7,3226.3,1376.0,348.7,122.1,378.6,129.0,494.2,159.1,426.5,160.1,375.8,123.5,611.2,197.6,798.2,288.7,136.1,56.5,0.0,0.0
2011,13099.0,5845.4,2855.7,1559.9,894.2,406.7,663.3,315.6,752.3,260.4,415.4,200.8,421.7,191.9,296.3,111.7,3231.6,1457.5,344.2,127.9,378.1,140.8,498.9,165.1,428.1,167.8,376.1,135.9,611.5,226.0,794.6,310.4,136.9,66.8,0.0,0.0
2012,13022.0,6313.0,2816.9,1663.6,876.2,433.6,652.9,350.2,752.5,299.4,413.2,202.2,421.2,212.8,296.7,125.0,3244.4,1583.6,345.8,140.6,380.1,139.4,499.9,184.6,420.6,186.1,374.7,143.0,599.9,237.6,789.8,340.1,137.3,71.2,0.0,0.0
2013,12917.0,6625.0,2759.0,1751.0,850.0,434.0,640.0,346.0,754.0,316.0,410.0,224.0,418.0,229.0,297.0,139.0,3255.0,1654.0,344.0,146.0,376.0,144.0,503.0,202.0,419.0,197.0,371.0,149.0,602.0,266.0,783.0,356.0,138.0,73.0,0.0,0.0
2014,12859.0,6947.0,2722.0,1813.0,838.0,464.0,632.0,361.0,752.0,343.0,408.0,222.0,414.0,238.0,298.0,143.0,3267.0,1760.0,333.0,154.0,376.0,147.0,517.0,215.0,417.0,206.0,370.0,156.0,595.0,273.0,782.0,376.0,141.0,76.0,0.0,0.0
2015,12770.0,7159.0,2697.0,1829.0,824.0,483.0,622.0,379.0,742.0,363.0,402.0,230.0,410.0,248.0,298.0,151.0,3257.0,1820.0,333.0,158.0,375.0,153.0,527.0,237.0,417.0,207.0,362.0,158.0,588.0,285.0,775.0,379.0,143.0,81.0,0.0,0.0
2016,12663.0,7382.0,2634.0,1872.0,818.0,490.0,611.0,385.0,736.0,365.0,396.0,233.0,401.0,257.0,292.0,152.0,3249.0,1880.0,335.0,168.0,379.0,169.0,546.0,247.0,409.0,215.0,362.0,166.0,577.0,284.0,780.0,411.0,147.0,88.0,0.0,0.0
2017,12525.0,7650.0,2603.0,1912.0,802.0,499.0,597.0,395.0,729.0,377.0,384.0,242.0,397.0,258.0,286.0,156.0,3239.0,1992.0,323.0,173.0,374.0,179.0,486.0,226.0,406.0,220.0,363.0,175.0,563.0,289.0,764.0,418.0,149.0,94.0,70.0,49.0
2018,12349.0,7972.0,2551.0,1972.0,785.0,549.0,590.0,402.0,721.0,406.0,385.0,251.0,383.0,261.0,272.0,150.0,3238.0,2078.0,321.0,178.0,365.0,194.0,483.0,246.0,389.0,231.0,350.0,186.0,553.0,295.0,739.0,418.0,150.0,102.0,80.0,57.0
2019,12149.0,8152.0,2506.0,1989.0,760.0,548.0,569.0,400.0,713.0,406.0,374.0,260.0,370.0,254.0,262.0,157.0,3238.0,2141.0,313.0,186.0,358.0,202.0,477.0,264.0,382.0,233.0,340.0,194.0,533.0,307.0,716.0,434.0,152.0,113.0,88.0,66.0
2020,11961.0,8272.0,2485.0,2024.0,740.0,544.0,549.0,405.0,693.0,401.0,370.0,260.0,362.0,252.0,253.0,152.0,3219.0,2221.0,305.0,195.0,353.0,205.0,475.0,261.0,367.0,226.0,333.0,197.0,521.0,318.0,696.0,426.0,153.0,116.0,95.0,72.0
2021,11762.0,8430.0,2451.0,2081.0,705.0,539.0,536.0,419.0,680.0,407.0,362.0,257.0,359.0,264.0,245.0,162.0,3226.0,2271.0,297.0,196.0,344.0,201.0,467.0,260.0,358.0,228.0,314.0,193.0,501.0,327.0,678.0,433.0,149.0,117.0,98.0,77.0

In [435]:
edu.loc[2007] = 0
edu.loc[2006] = 0
edu.sort_values(by='시점',inplace=True)
edu

,전국,전국대졸이상,서울특별시,서울대졸이상,부산광역시,부산대졸이상,대구광역시,대구대졸이상,인천광역시,인천대졸이상,광주광역시,광주대졸이상,대전광역시,대전대졸이상,울산광역시,울산대졸이상,경기도,경기도대졸이상,강원도,강원대졸이상,충청북도,충북대졸이상,충청남도,충남대졸이상,전라북도,전북대졸이상,전라남도,전남대졸이상,경상북도,경북대졸이상,경상남도,경남대졸이상,제주특별자치도,제주대졸이상,세종특별자치시,세종대졸이상
시점,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2007,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2008,13295.5,5237.0,2939.9,1467.5,946.9,398.0,688.8,283.7,763.1,231.3,418.9,175.2,430.7,185.4,303.2,97.8,3200.7,1251.9,356.4,117.8,383.1,115.5,482.5,131.1,429.2,143.7,385.0,120.1,631.6,202.1,797.7,255.9,138.1,59.7,0.0,0.0
2009,13227.3,5460.7,2923.5,1505.5,923.4,409.1,678.6,288.6,757.8,242.5,416.1,185.5,428.5,193.2,299.6,100.0,3211.4,1321.3,351.5,115.9,381.8,123.8,486.8,147.0,424.4,153.9,379.7,120.2,625.4,209.0,801.7,286.7,137.1,58.4,0.0,0.0
2010,13141.4,5513.2,2880.2,1461.9,907.4,399.2,665.9,301.5,753.2,251.0,417.6,189.8,425.5,190.5,295.8,106.7,3226.3,1376.0,348.7,122.1,378.6,129.0,494.2,159.1,426.5,160.1,375.8,123.5,611.2,197.6,798.2,288.7,136.1,56.5,0.0,0.0
2011,13099.0,5845.4,2855.7,1559.9,894.2,406.7,663.3,315.6,752.3,260.4,415.4,200.8,421.7,191.9,296.3,111.7,3231.6,1457.5,344.2,127.9,378.1,140.8,498.9,165.1,428.1,167.8,376.1,135.9,611.5,226.0,794.6,310.4,136.9,66.8,0.0,0.0
2012,13022.0,6313.0,2816.9,1663.6,876.2,433.6,652.9,350.2,752.5,299.4,413.2,202.2,421.2,212.8,296.7,125.0,3244.4,1583.6,345.8,140.6,380.1,139.4,499.9,184.6,420.6,186.1,374.7,143.0,599.9,237.6,789.8,340.1,137.3,71.2,0.0,0.0
2013,12917.0,6625.0,2759.0,1751.0,850.0,434.0,640.0,346.0,754.0,316.0,410.0,224.0,418.0,229.0,297.0,139.0,3255.0,1654.0,344.0,146.0,376.0,144.0,503.0,202.0,419.0,197.0,371.0,149.0,602.0,266.0,783.0,356.0,138.0,73.0,0.0,0.0
2014,12859.0,6947.0,2722.0,1813.0,838.0,464.0,632.0,361.0,752.0,343.0,408.0,222.0,414.0,238.0,298.0,143.0,3267.0,1760.0,333.0,154.0,376.0,147.0,517.0,215.0,417.0,206.0,370.0,156.0,595.0,273.0,782.0,376.0,141.0,76.0,0.0,0.0
2015,12770.0,7159.0,2697.0,1829.0,824.0,483.0,622.0,379.0,742.0,363.0,402.0,230.0,410.0,248.0,298.0,151.0,3257.0,1820.0,333.0,158.0,375.0,153.0,527.0,237.0,417.0,207.0,362.0,158.0,588.0,285.0,775.0,379.0,143.0,81.0,0.0,0.0
2016,12663.0,7382.0,2634.0,1872.0,818.0,490.0,611.0,385.0,736.0,365.0,396.0,233.0,401.0,257.0,292.0,152.0,3249.0,1880.0,335.0,168.0,379.0,169.0,546.0,247.0,409.0,215.0,362.0,166.0,577.0,284.0,780.0,411.0,147.0,88.0,0.0,0.0
2017,12525.0,7650.0,2603.0,1912.0,802.0,499.0,597.0,395.0,729.0,377.0,384.0,242.0,397.0,258.0,286.0,156.0,3239.0,1992.0,323.0,173.0,374.0,179.0,486.0,226.0,406.0,220.0,363.0,175.0,563.0,289.0,764.0,418.0,149.0,94.0,70.0,49.0
2018,12349.0,7972.0,2551.0,1972.0,785.0,549.0,590.0,402.0,721.0,406.0,385.0,251.0,383.0,261.0,272.0,150.0,3238.0,2078.0,321.0,178.0,365.0,194.0,483.0,246.0,389.0,231.0,350.0,186.0,553.0,295.0,739.0,418.0,150.0,102.0,80.0,57.0
2019,12149.0,8152.0,2506.0,1989.0,760.0,548.0,569.0,400.0,713.0,406.0,374.0,260.0,370.0,254.0,262.0,157.0,3238.0,2141.0,313.0,186.0,358.0,202.0,477.0,264.0,382.0,233.0,340.0,194.0,533.0,307.0,716.0,434.0,152.0,113.0,88.0,66.0
2020,11961.0,8272.0,2485.0,2024.0,740.0,544.0,549.0,405.0,693.0,401.0,370.0,260.0,362.0,252.0,253.0,152.0,3219.0,2221.0,305.0,195.0,353.0,205.0,475.0,261.0,367.0,226.0,333.0,197.0,521.0,318.0,696.0,426.0,153.0,116.0,95.0,72.0
2021,11762.0,8430.0,2451.0,2081.0,705.0,539.0,536.0,419.0,680.0,407.0,362.0,257.0,359.0,264.0,245.0,162.0,3226.0,2271.0,297.0,196.0,344.0,201.0,467.0,260.0,358.0,228.0,314.0,193.0,501.0,327.0,678.0,433.0,149.0,117.0,98.0,77.0

In [436]:
edu.to_excel('C:/Users/gihun/Python_Data/data/Fertility_rate/대졸이상여성인구/대졸이상여성인구최종.xlsx')

In [389]:
# 입양아수 불러오기
adopt = pd.read_excel(path+'/국내입양아수.xlsx')
adopt

c:\Users\gihun\Python_Data\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   통계표명:      입양 아동수 Unnamed: 2 Unnamed: 3
0    단위:           명        NaN        NaN
1    NaN      입양 아동수        NaN        NaN
2    NaN          국내         국외          계
3   2006       1,332      1,899      3,231
4   2007       1,388      1,264      2,652
5   2008       1,306      1,250      2,556
6   2009       1,314      1,125      2,439
7   2010       1,462      1,013      2,475
8   2011       1,548        916      2,464
9   2012       1,125        755      1,880
10  2013         686        236        922
11  2014         637        535      1,172
12  2015         683        374      1,057
13  2016         546        334        880
14  2017         465        398        863
15  2018         378        303        681
16  2019         387        317        704
17  2020         260        232        492
18  2021         226        189        415
19   출처:  보건복지부 내부자료        NaN        NaN

In [390]:
# 컬럼 재설정
adopt = adopt.rename(columns={'통계표명:':'시점'})
adopt.drop(index=[0,1,2,19],columns=['Unnamed: 2','Unnamed: 3'],inplace=True)
# 인덱스 재설정
adopt.set_index('시점',inplace=True)
adopt.index = adopt.index.astype('int')
# 타입변환
adopt['입양 아동수'] = adopt['입양 아동수'].apply(lambda x: ''.join(x.split(',')))
adopt = adopt.apply(pd.to_numeric)
adopt

      입양 아동수
시점
2006    1332
2007    1388
2008    1306
2009    1314
2010    1462
2011    1548
2012    1125
2013     686
2014     637
2015     683
2016     546
2017     465
2018     378
2019     387
2020     260
2021     226

In [428]:
adopt.to_excel(path+'/국내입양아수최종.xlsx')

In [420]:
# GGI 지수
ggi = pd.DataFrame([0.616, 0.641, 0.615, 0.615, 0.634, 0.628, 0.636, 0.635, 0.640, 0.651, 0.649, 0.650, 0.657, 0.672, 0.687, 0.689])
ggi['시점']=range(2006,2022)
ggi.set_index('시점',inplace=True)
ggi['GGI']=ggi[0]
ggi.drop(columns=0,inplace=True)
ggi

        GGI
시점
2006  0.616
2007  0.641
2008  0.615
2009  0.615
2010  0.634
2011  0.628
2012  0.636
2013  0.635
2014  0.640
2015  0.651
2016  0.649
2017  0.650
2018  0.657
2019  0.672
2020  0.687
2021  0.689

In [429]:
ggi.to_excel(path+'/GGI최종.xlsx')

In [430]:
# 출산율 모델 데이터프레임
fertility_df = pd.DataFrame()
fertility_df['Married'] = marry['전국']
fertility_df

      Married
시점
2006   330634
2007   343559
2008   327715
2009   309759
2010   326104
2011   329087
2012   327073
2013   322807
2014   305507
2015   302828
2016   281635
2017   264455
2018   257622
2019   239159
2020   213502
2021   192507

In [431]:
fertility_df['Divorced'] = divorce['전국']

In [437]:
fertility_df['Degree'] = edu['전국']
fertility_df

      Married  Divorced   Degree
시점
2006   330634    124524      0.0
2007   343559    124072      0.0
2008   327715    116535  13295.5
2009   309759    123999  13227.3
2010   326104    116858  13141.4
2011   329087    114284  13099.0
2012   327073    114316  13022.0
2013   322807    115292  12917.0
2014   305507    115510  12859.0
2015   302828    109153  12770.0
2016   281635    107328  12663.0
2017   264455    106032  12525.0
2018   257622    108684  12349.0
2019   239159    110831  12149.0
2020   213502    106500  11961.0
2021   192507    101673  11762.0

In [439]:
fertility_df['Employment'] = emp['전국']
fertility_df['Unemployment'] = unemp['전국']
fertility_df['Academy'] = academy['전국']
fertility_df['Adopted'] = adopt['입양 아동수']
fertility_df['GGI'] = ggi['GGI']
fertility_df['Target'] = fertility['전국']
fertility_df

,Married,Divorced,Degree,Employment,Unemployment,Academy,Adopted,GGI,Target
시점,,,,,,,,,
2006,330634,124524,0.0,49.0,3.0,66841,1332,0.616,1.132
2007,343559,124072,0.0,49.1,2.7,67649,1388,0.641,1.259
2008,327715,116535,13295.5,48.9,2.6,70329,1306,0.615,1.192
2009,309759,123999,13227.3,47.8,3.0,72242,1314,0.615,1.149
2010,326104,116858,13141.4,47.9,3.3,75952,1462,0.634,1.226
2011,329087,114284,13099.0,48.3,3.1,76165,1548,0.628,1.244
2012,327073,114316,13022.0,48.6,3.0,75695,1125,0.636,1.297
2013,322807,115292,12917.0,48.9,2.8,75281,686,0.635,1.187
2014,305507,115510,12859.0,49.7,3.5,76030,637,0.640,1.205
2015,302828,109153,12770.0,50.1,3.5,78483,683,0.651,1.239
2016,281635,107328,12663.0,50.3,3.6,78306,546,0.649,1.172
2017,264455,106032,12525.0,50.8,3.5,80130,465,0.650,1.052
2018,257622,108684,12349.0,50.9,3.7,80412,378,0.657,0.977
2019,239159,110831,12149.0,51.6,3.6,80937,387,0.672,0.918
2020,213502,106500,11961.0,50.7,4.0,81762,260,0.687,0.837
2021,192507,101673,11762.0,51.2,3.8,81868,226,0.689,0.808

In [441]:
path_ = 'C:/Users/gihun/To_raise_a_child_well/data/dohee/'

In [597]:
citizenr_park = pd.read_excel(path_+'2006-2021_근린공원 수.xlsx',index_col=0)
parental_leave_man = pd.read_excel(path_+'2006-2021_남성육아휴직수.xlsx',index_col=0)
urbanization_rate = pd.read_excel(path_+'2006-2021_도시화율.xlsx',index_col=0)
gynecology = pd.read_excel(path_+'2006-2021_산부인과 수.xlsx',index_col=0)
infants = pd.read_excel(path_+'2006-2021_영유아(만 0-6세) 천명당 보육시설 수.xlsx',index_col=0)
market = pd.read_excel(path_+'2006-2021_전국 대형마트 수.xlsx',index_col=0)
total_sports_fc = pd.read_excel(path_+'2006-2021_종합체육시설 수.xlsx',index_col=0)

In [607]:
total_sports_fc

,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
전국,581,39787,823,982,1019,1074,1142,1182,1267,1290,1326,1367,1418,1435,1457,1496
서울특별시,26,33,33,35,40,41,45,47,49,49,49,53,55,56,60,62
부산광역시,24,25,24,24,24,25,25,26,27,28,28,30,32,32,32,33
대구광역시,4,7,7,7,8,10,11,11,12,12,13,15,15,16,18,18
인천광역시,19,19,13,13,16,19,18,18,45,51,54,55,56,56,58,59
광주광역시,6,6,10,11,12,12,14,13,15,16,16,16,16,16,16,16
대전광역시,5,5,10,11,12,12,14,14,14,14,16,17,17,18,17,21
울산광역시,14,14,21,34,30,30,32,37,38,38,37,38,38,39,39,39
세종특별자치시,0,0,0,0,0,0,13,13,12,12,12,12,14,14,17,17
경기도,105,136,212,254,289,301,318,324,341,338,359,363,380,384,377,388
강원도,101,106,114,132,83,86,92,93,100,104,108,117,119,120,122,123
충청북도,26,30,41,51,64,66,72,79,85,86,87,93,97,99,101,100
충청남도,21,30,42,50,53,57,56,58,57,59,61,61,63,64,65,72
전라북도,25,28,42,50,57,59,62,63,71,71,72,73,76,78,86,87
전라남도,69,77,71,87,93,97,100,103,104,105,103,105,109,109,109,112
경상북도,51,39180,74,84,98,109,112,117,126,126,130,132,132,133,134,140
경상남도,62,67,85,113,114,124,132,139,144,154,154,158,169,171,176,182
제주특별자치도,23,24,24,26,26,26,26,27,27,27,27,29,30,30,30,27

In [598]:
# 도희 파일 컬럼 리스트
do_column_list = ['park','parent_leave','urban','gyne','infant','Market','sports_fc']
# 도희 데이터프레임 리스트
do_file_list = [citizenr_park, parental_leave_man, urbanization_rate, gynecology, infants, market, total_sports_fc]
# 도희 데이터프레임 전처리 후 리스트 
do_file_list_last = []
for j in do_file_list:
    j = j.T.copy()
    do_file_list_last.append(j)

In [604]:
for i in range(len(do_column_list)):
    fertility_df[do_column_list[i]] = do_file_list_last[i]['전국'].values

,Married,Divorced,Degree,Employment,Unemployment,Academy,Adopted,GGI,Target,park,parent_leave,urban,gyne,infant,Market,sports_fc
시점,,,,,,,,,,,,,,,,
2006,330634,124524,0.0,49.0,3.0,66841,1332,0.616,1.132,3230,0,0.1710,1855,0.0000,336,581
2007,343559,124072,0.0,49.1,2.7,67649,1388,0.641,1.259,3466,0,0.1724,1774,0.0000,386,39787
2008,327715,116535,13295.5,48.9,2.6,70329,1306,0.615,1.192,3907,355,0.1734,1692,0.0102,418,823
2009,309759,123999,13227.3,47.8,3.0,72242,1314,0.615,1.149,4345,502,0.1744,1641,0.0110,574,982
2010,326104,116858,13141.4,47.9,3.3,75952,1462,0.634,1.226,4725,819,0.1749,1587,0.0118,598,1019
2011,329087,114284,13099.0,48.3,3.1,76165,1548,0.628,1.244,4783,1402,0.1753,1530,0.0124,680,1074
2012,327073,114316,13022.0,48.6,3.0,75695,1125,0.636,1.297,4959,1790,0.1755,1475,0.0130,798,1142
2013,322807,115292,12917.0,48.9,2.8,75281,686,0.635,1.187,5052,2293,0.1755,1420,0.0134,850,1182
2014,305507,115510,12859.0,49.7,3.5,76030,637,0.640,1.205,5073,3421,0.1755,1384,0.0136,870,1267
2015,302828,109153,12770.0,50.1,3.5,78483,683,0.651,1.239,5034,4872,0.1765,1360,0.0133,878,1290
2016,281635,107328,12663.0,50.3,3.6,78306,546,0.649,1.172,5146,7616,0.1755,1345,0.0130,878,1326
2017,264455,106032,12525.0,50.8,3.5,80130,465,0.650,1.052,5126,12042,0.1757,1325,0.0132,900,1367
2018,257622,108684,12349.0,50.9,3.7,80412,378,0.657,0.977,5168,17662,0.1781,1319,0.0135,882,1418
2019,239159,110831,12149.0,51.6,3.6,80937,387,0.672,0.918,5135,22297,0.1769,1312,0.0137,878,1435
2020,213502,106500,11961.0,50.7,4.0,81762,260,0.687,0.837,4986,27421,0.1770,1309,0.0138,538,1457
2021,192507,101673,11762.0,51.2,3.8,81868,226,0.689,0.808,5021,0,0.1771,1307,0.0139,114,1496

In [605]:
fertility_df

,Married,Divorced,Degree,Employment,Unemployment,Academy,Adopted,GGI,Target,park,parent_leave,urban,gyne,infant,Market,sports_fc
시점,,,,,,,,,,,,,,,,
2006,330634,124524,0.0,49.0,3.0,66841,1332,0.616,1.132,3230,0,0.1710,1855,0.0000,336,581
2007,343559,124072,0.0,49.1,2.7,67649,1388,0.641,1.259,3466,0,0.1724,1774,0.0000,386,39787
2008,327715,116535,13295.5,48.9,2.6,70329,1306,0.615,1.192,3907,355,0.1734,1692,0.0102,418,823
2009,309759,123999,13227.3,47.8,3.0,72242,1314,0.615,1.149,4345,502,0.1744,1641,0.0110,574,982
2010,326104,116858,13141.4,47.9,3.3,75952,1462,0.634,1.226,4725,819,0.1749,1587,0.0118,598,1019
2011,329087,114284,13099.0,48.3,3.1,76165,1548,0.628,1.244,4783,1402,0.1753,1530,0.0124,680,1074
2012,327073,114316,13022.0,48.6,3.0,75695,1125,0.636,1.297,4959,1790,0.1755,1475,0.0130,798,1142
2013,322807,115292,12917.0,48.9,2.8,75281,686,0.635,1.187,5052,2293,0.1755,1420,0.0134,850,1182
2014,305507,115510,12859.0,49.7,3.5,76030,637,0.640,1.205,5073,3421,0.1755,1384,0.0136,870,1267
2015,302828,109153,12770.0,50.1,3.5,78483,683,0.651,1.239,5034,4872,0.1765,1360,0.0133,878,1290
2016,281635,107328,12663.0,50.3,3.6,78306,546,0.649,1.172,5146,7616,0.1755,1345,0.0130,878,1326
2017,264455,106032,12525.0,50.8,3.5,80130,465,0.650,1.052,5126,12042,0.1757,1325,0.0132,900,1367
2018,257622,108684,12349.0,50.9,3.7,80412,378,0.657,0.977,5168,17662,0.1781,1319,0.0135,882,1418
2019,239159,110831,12149.0,51.6,3.6,80937,387,0.672,0.918,5135,22297,0.1769,1312,0.0137,878,1435
2020,213502,106500,11961.0,50.7,4.0,81762,260,0.687,0.837,4986,27421,0.1770,1309,0.0138,538,1457
2021,192507,101673,11762.0,51.2,3.8,81868,226,0.689,0.808,5021,0,0.1771,1307,0.0139,114,1496

In [606]:
fertility_df.to_excel(path+'frt_rate_df.xlsx')